<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CocosSharp" version="1.7.1.0" targetFramework="xamarinios10" />
  <package id="Microsoft.AppCenter" version="1.14.0" targetFramework="xamarinios10" />
  <package id="Microsoft.AppCenter.Analytics" version="1.14.0" targetFramework="xamarinios10" />
  <package id="Microsoft.AppCenter.Crashes" version="1.14.0" targetFramework="xamarinios10" />
  <package id="Microsoft.AppCenter.Push" version="1.14.0" targetFramework="xamarinios10" />
  <package id="Mindscape.Raygun4Net.Xamarin.iOS.Unified" version="6.0.2" targetFramework="xamarinios10" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="xamarinios10" />
  <package id="Xam.Plugins.Settings" version="4.1.0-beta" targetFramework="xamarinios10" />
  <package id="Xamarin.Build.Download" version="0.4.11" targetFramework="xamarinios10" />
  <package id="Xamarin.Essentials" version="1.5.3.2" targetFramework="xamarinios10" />
  <package id="Xamarin.Facebook.CoreKit.iOS" version="7.1.1" targetFramework="xamarinios10" />
  <package id="Xamarin.Facebook.LoginKit.iOS" version="7.1.1" targetFramework="xamarinios10" />
  <package id="Xamarin.Facebook.MarketingKit.iOS" version="5.11.1" targetFramework="xamarinios10" />
  <package id="Xamarin.Facebook.PlacesKit.iOS" version="5.12.0" targetFramework="xamarinios10" />
  <package id="Xamarin.Facebook.ShareKit.iOS" version="7.1.1" targetFramework="xamarinios10" />
  <package id="Xamarin.Facebook.iOS" version="7.1.1" targetFramework="xamarinios10" />
</packages>