<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>General_cannon_flame00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,162}</string>
                <key>spriteSourceSize</key>
                <string>{113,162}</string>
                <key>textureRect</key>
                <string>{{1,1},{113,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>General_cannon_flame01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,162}</string>
                <key>spriteSourceSize</key>
                <string>{113,162}</string>
                <key>textureRect</key>
                <string>{{116,1},{113,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>General_cannon_flame02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,162}</string>
                <key>spriteSourceSize</key>
                <string>{113,162}</string>
                <key>textureRect</key>
                <string>{{231,1},{113,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>General_cannon_flame03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,162}</string>
                <key>spriteSourceSize</key>
                <string>{113,162}</string>
                <key>textureRect</key>
                <string>{{346,1},{113,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>General_cannon_flame04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,162}</string>
                <key>spriteSourceSize</key>
                <string>{113,162}</string>
                <key>textureRect</key>
                <string>{{461,1},{113,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>General_cannon_flame05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,162}</string>
                <key>spriteSourceSize</key>
                <string>{113,162}</string>
                <key>textureRect</key>
                <string>{{576,1},{113,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>General_cannon_flame06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,162}</string>
                <key>spriteSourceSize</key>
                <string>{113,162}</string>
                <key>textureRect</key>
                <string>{{691,1},{113,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>General_cannon_flame07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,162}</string>
                <key>spriteSourceSize</key>
                <string>{113,162}</string>
                <key>textureRect</key>
                <string>{{806,1},{113,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>General_cannon_flame08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,162}</string>
                <key>spriteSourceSize</key>
                <string>{113,162}</string>
                <key>textureRect</key>
                <string>{{1,165},{113,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>General_cannon_flame09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,162}</string>
                <key>spriteSourceSize</key>
                <string>{113,162}</string>
                <key>textureRect</key>
                <string>{{116,165},{113,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>General_cannon_flame10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,162}</string>
                <key>spriteSourceSize</key>
                <string>{113,162}</string>
                <key>textureRect</key>
                <string>{{231,165},{113,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>General_cannon_flame11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,162}</string>
                <key>spriteSourceSize</key>
                <string>{113,162}</string>
                <key>textureRect</key>
                <string>{{346,165},{113,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>General_cannon_flame12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,162}</string>
                <key>spriteSourceSize</key>
                <string>{113,162}</string>
                <key>textureRect</key>
                <string>{{461,165},{113,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>General_cannon_flame13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,162}</string>
                <key>spriteSourceSize</key>
                <string>{113,162}</string>
                <key>textureRect</key>
                <string>{{576,165},{113,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>General_cannon_flame14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,162}</string>
                <key>spriteSourceSize</key>
                <string>{113,162}</string>
                <key>textureRect</key>
                <string>{{691,165},{113,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>General_cannon_flame15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,162}</string>
                <key>spriteSourceSize</key>
                <string>{113,162}</string>
                <key>textureRect</key>
                <string>{{806,165},{113,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>General_cannon_flame16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,162}</string>
                <key>spriteSourceSize</key>
                <string>{113,162}</string>
                <key>textureRect</key>
                <string>{{1,329},{113,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>General_cannon_flame17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,162}</string>
                <key>spriteSourceSize</key>
                <string>{113,162}</string>
                <key>textureRect</key>
                <string>{{116,329},{113,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>General_cannon_flame18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,162}</string>
                <key>spriteSourceSize</key>
                <string>{113,162}</string>
                <key>textureRect</key>
                <string>{{231,329},{113,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>General_cannon_flame19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,162}</string>
                <key>spriteSourceSize</key>
                <string>{113,162}</string>
                <key>textureRect</key>
                <string>{{346,329},{113,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>General_cannon_flame20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,162}</string>
                <key>spriteSourceSize</key>
                <string>{113,162}</string>
                <key>textureRect</key>
                <string>{{461,329},{113,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>General_cannon_flame21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,162}</string>
                <key>spriteSourceSize</key>
                <string>{113,162}</string>
                <key>textureRect</key>
                <string>{{576,329},{113,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>General_cannon_flame22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,162}</string>
                <key>spriteSourceSize</key>
                <string>{113,162}</string>
                <key>textureRect</key>
                <string>{{691,329},{113,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>General_cannon_flame23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,162}</string>
                <key>spriteSourceSize</key>
                <string>{113,162}</string>
                <key>textureRect</key>
                <string>{{806,329},{113,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>General_cannon_flame24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,162}</string>
                <key>spriteSourceSize</key>
                <string>{113,162}</string>
                <key>textureRect</key>
                <string>{{1,493},{113,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>General_cannon_flame25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,162}</string>
                <key>spriteSourceSize</key>
                <string>{113,162}</string>
                <key>textureRect</key>
                <string>{{116,493},{113,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>General_cannon_flame26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,162}</string>
                <key>spriteSourceSize</key>
                <string>{113,162}</string>
                <key>textureRect</key>
                <string>{{231,493},{113,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>General_cannon_flame27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,162}</string>
                <key>spriteSourceSize</key>
                <string>{113,162}</string>
                <key>textureRect</key>
                <string>{{346,493},{113,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>General_cannon_flame28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,162}</string>
                <key>spriteSourceSize</key>
                <string>{113,162}</string>
                <key>textureRect</key>
                <string>{{461,493},{113,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>General_cannon_flame29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,162}</string>
                <key>spriteSourceSize</key>
                <string>{113,162}</string>
                <key>textureRect</key>
                <string>{{576,493},{113,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>General_cannon_flame30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,162}</string>
                <key>spriteSourceSize</key>
                <string>{113,162}</string>
                <key>textureRect</key>
                <string>{{691,493},{113,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>General_cannon_flame31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,162}</string>
                <key>spriteSourceSize</key>
                <string>{113,162}</string>
                <key>textureRect</key>
                <string>{{806,493},{113,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>General_cannon_flame32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,162}</string>
                <key>spriteSourceSize</key>
                <string>{113,162}</string>
                <key>textureRect</key>
                <string>{{1,657},{113,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>General_cannon_flame33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,162}</string>
                <key>spriteSourceSize</key>
                <string>{113,162}</string>
                <key>textureRect</key>
                <string>{{116,657},{113,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>General_cannon_flame34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,162}</string>
                <key>spriteSourceSize</key>
                <string>{113,162}</string>
                <key>textureRect</key>
                <string>{{231,657},{113,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>General_cannon_flame35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,162}</string>
                <key>spriteSourceSize</key>
                <string>{113,162}</string>
                <key>textureRect</key>
                <string>{{346,657},{113,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>General_cannon_flame36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,162}</string>
                <key>spriteSourceSize</key>
                <string>{113,162}</string>
                <key>textureRect</key>
                <string>{{461,657},{113,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>General_cannon_flame37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,162}</string>
                <key>spriteSourceSize</key>
                <string>{113,162}</string>
                <key>textureRect</key>
                <string>{{576,657},{113,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>General_cannon_flame38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,162}</string>
                <key>spriteSourceSize</key>
                <string>{113,162}</string>
                <key>textureRect</key>
                <string>{{691,657},{113,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>General_cannon_flame39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,162}</string>
                <key>spriteSourceSize</key>
                <string>{113,162}</string>
                <key>textureRect</key>
                <string>{{806,657},{113,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>General_cannon_flame40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,162}</string>
                <key>spriteSourceSize</key>
                <string>{113,162}</string>
                <key>textureRect</key>
                <string>{{1,821},{113,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>General_cannon_flame41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,162}</string>
                <key>spriteSourceSize</key>
                <string>{113,162}</string>
                <key>textureRect</key>
                <string>{{116,821},{113,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>General_cannon_flame42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,162}</string>
                <key>spriteSourceSize</key>
                <string>{113,162}</string>
                <key>textureRect</key>
                <string>{{231,821},{113,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>General_cannon_flame43.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,162}</string>
                <key>spriteSourceSize</key>
                <string>{113,162}</string>
                <key>textureRect</key>
                <string>{{346,821},{113,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>General_cannon_flame44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,162}</string>
                <key>spriteSourceSize</key>
                <string>{113,162}</string>
                <key>textureRect</key>
                <string>{{461,821},{113,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>General_cannon_flame45.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,162}</string>
                <key>spriteSourceSize</key>
                <string>{113,162}</string>
                <key>textureRect</key>
                <string>{{576,821},{113,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>General_cannon_flame46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,162}</string>
                <key>spriteSourceSize</key>
                <string>{113,162}</string>
                <key>textureRect</key>
                <string>{{691,821},{113,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>General_cannon_flame47.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,162}</string>
                <key>spriteSourceSize</key>
                <string>{113,162}</string>
                <key>textureRect</key>
                <string>{{806,821},{113,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>General_cannon_flame48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,162}</string>
                <key>spriteSourceSize</key>
                <string>{113,162}</string>
                <key>textureRect</key>
                <string>{{1,985},{113,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>General_cannon_flame49.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,162}</string>
                <key>spriteSourceSize</key>
                <string>{113,162}</string>
                <key>textureRect</key>
                <string>{{116,985},{113,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>General_cannon_flame50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,162}</string>
                <key>spriteSourceSize</key>
                <string>{113,162}</string>
                <key>textureRect</key>
                <string>{{231,985},{113,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>General_cannon_flame51.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,162}</string>
                <key>spriteSourceSize</key>
                <string>{113,162}</string>
                <key>textureRect</key>
                <string>{{346,985},{113,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>General_cannon_flame52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,162}</string>
                <key>spriteSourceSize</key>
                <string>{113,162}</string>
                <key>textureRect</key>
                <string>{{461,985},{113,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>General_cannon_flame53.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,162}</string>
                <key>spriteSourceSize</key>
                <string>{113,162}</string>
                <key>textureRect</key>
                <string>{{576,985},{113,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>General_cannon_flame54.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,162}</string>
                <key>spriteSourceSize</key>
                <string>{113,162}</string>
                <key>textureRect</key>
                <string>{{691,985},{113,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>General_cannon_flame55.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,162}</string>
                <key>spriteSourceSize</key>
                <string>{113,162}</string>
                <key>textureRect</key>
                <string>{{806,985},{113,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>General_cannon_flame56.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,162}</string>
                <key>spriteSourceSize</key>
                <string>{113,162}</string>
                <key>textureRect</key>
                <string>{{1,1149},{113,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>General_cannon_flame57.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,162}</string>
                <key>spriteSourceSize</key>
                <string>{113,162}</string>
                <key>textureRect</key>
                <string>{{116,1149},{113,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>General_cannon_flame58.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,162}</string>
                <key>spriteSourceSize</key>
                <string>{113,162}</string>
                <key>textureRect</key>
                <string>{{231,1149},{113,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>General_cannon_flame59.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,162}</string>
                <key>spriteSourceSize</key>
                <string>{113,162}</string>
                <key>textureRect</key>
                <string>{{346,1149},{113,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>General_cannon_flame60.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,162}</string>
                <key>spriteSourceSize</key>
                <string>{113,162}</string>
                <key>textureRect</key>
                <string>{{461,1149},{113,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>General_cannon_flame61.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,162}</string>
                <key>spriteSourceSize</key>
                <string>{113,162}</string>
                <key>textureRect</key>
                <string>{{576,1149},{113,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>General_cannon_flame62.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,162}</string>
                <key>spriteSourceSize</key>
                <string>{113,162}</string>
                <key>textureRect</key>
                <string>{{691,1149},{113,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>General_cannon_flame63.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,162}</string>
                <key>spriteSourceSize</key>
                <string>{113,162}</string>
                <key>textureRect</key>
                <string>{{806,1149},{113,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>General_cannon_flame64.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,162}</string>
                <key>spriteSourceSize</key>
                <string>{113,162}</string>
                <key>textureRect</key>
                <string>{{1,1313},{113,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>General_cannon_flame65.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,162}</string>
                <key>spriteSourceSize</key>
                <string>{113,162}</string>
                <key>textureRect</key>
                <string>{{116,1313},{113,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>General_cannon_flame66.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,162}</string>
                <key>spriteSourceSize</key>
                <string>{113,162}</string>
                <key>textureRect</key>
                <string>{{231,1313},{113,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>General_cannon_flame67.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,162}</string>
                <key>spriteSourceSize</key>
                <string>{113,162}</string>
                <key>textureRect</key>
                <string>{{346,1313},{113,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>General_cannon_flame68.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,162}</string>
                <key>spriteSourceSize</key>
                <string>{113,162}</string>
                <key>textureRect</key>
                <string>{{461,1313},{113,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>General_cannon_flame69.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,162}</string>
                <key>spriteSourceSize</key>
                <string>{113,162}</string>
                <key>textureRect</key>
                <string>{{576,1313},{113,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>General_cannon_flame70.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,162}</string>
                <key>spriteSourceSize</key>
                <string>{113,162}</string>
                <key>textureRect</key>
                <string>{{691,1313},{113,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>General_cannon_flame71.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,162}</string>
                <key>spriteSourceSize</key>
                <string>{113,162}</string>
                <key>textureRect</key>
                <string>{{806,1313},{113,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>General_cannon_flame-0.png</string>
            <key>size</key>
            <string>{920,1476}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c45165035a7d50a0548824d48bd5133d:0a694eecc7cfd02caa5c77ab2bac5f60:ea923302b31ccbdfba7207f346e4e1df$</string>
            <key>textureFileName</key>
            <string>General_cannon_flame-0.png</string>
        </dict>
    </dict>
</plist>
