<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Hybrid_defender_recoil_animation_image_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,150}</string>
                <key>spriteSourceSize</key>
                <string>{106,150}</string>
                <key>textureRect</key>
                <string>{{1,1},{106,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hybrid_defender_recoil_animation_image_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,150}</string>
                <key>spriteSourceSize</key>
                <string>{106,150}</string>
                <key>textureRect</key>
                <string>{{1,153},{106,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hybrid_defender_recoil_animation_image_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,150}</string>
                <key>spriteSourceSize</key>
                <string>{106,150}</string>
                <key>textureRect</key>
                <string>{{1,305},{106,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hybrid_defender_recoil_animation_image_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,150}</string>
                <key>spriteSourceSize</key>
                <string>{106,150}</string>
                <key>textureRect</key>
                <string>{{1,457},{106,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hybrid_defender_recoil_animation_image_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,150}</string>
                <key>spriteSourceSize</key>
                <string>{106,150}</string>
                <key>textureRect</key>
                <string>{{1,609},{106,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hybrid_defender_recoil_animation_image_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,150}</string>
                <key>spriteSourceSize</key>
                <string>{106,150}</string>
                <key>textureRect</key>
                <string>{{1,761},{106,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hybrid_defender_recoil_animation_image_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,150}</string>
                <key>spriteSourceSize</key>
                <string>{106,150}</string>
                <key>textureRect</key>
                <string>{{1,913},{106,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hybrid_defender_recoil_animation_image_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,150}</string>
                <key>spriteSourceSize</key>
                <string>{106,150}</string>
                <key>textureRect</key>
                <string>{{1,1065},{106,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hybrid_defender_recoil_animation_image_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,150}</string>
                <key>spriteSourceSize</key>
                <string>{106,150}</string>
                <key>textureRect</key>
                <string>{{1,1217},{106,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hybrid_defender_recoil_animation_image_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,150}</string>
                <key>spriteSourceSize</key>
                <string>{106,150}</string>
                <key>textureRect</key>
                <string>{{1,1369},{106,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hybrid_defender_recoil_animation_image_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,150}</string>
                <key>spriteSourceSize</key>
                <string>{106,150}</string>
                <key>textureRect</key>
                <string>{{1,1521},{106,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hybrid_defender_recoil_animation_image_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,150}</string>
                <key>spriteSourceSize</key>
                <string>{106,150}</string>
                <key>textureRect</key>
                <string>{{1,1673},{106,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hybrid_defender_recoil_animation_image_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,150}</string>
                <key>spriteSourceSize</key>
                <string>{106,150}</string>
                <key>textureRect</key>
                <string>{{1,1825},{106,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>HybridDefenderRecoil.png</string>
            <key>size</key>
            <string>{108,1976}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7f71f0643ec5d6a666bc03f03e6d93a0:64c7e4b2be55c9824e2979e984f07827:d11cb2e073bcb2a54d9a576ae3c1d892$</string>
            <key>textureFileName</key>
            <string>HybridDefenderRecoil.png</string>
        </dict>
    </dict>
</plist>
