<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Alien-laser-hitting-animation-without-laser-image_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,124}</string>
                <key>spriteSourceSize</key>
                <string>{164,124}</string>
                <key>textureRect</key>
                <string>{{1,1},{164,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-laser-hitting-animation-without-laser-image_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,124}</string>
                <key>spriteSourceSize</key>
                <string>{164,124}</string>
                <key>textureRect</key>
                <string>{{167,1},{164,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-laser-hitting-animation-without-laser-image_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,124}</string>
                <key>spriteSourceSize</key>
                <string>{164,124}</string>
                <key>textureRect</key>
                <string>{{333,1},{164,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-laser-hitting-animation-without-laser-image_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,124}</string>
                <key>spriteSourceSize</key>
                <string>{164,124}</string>
                <key>textureRect</key>
                <string>{{1,127},{164,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-laser-hitting-animation-without-laser-image_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,124}</string>
                <key>spriteSourceSize</key>
                <string>{164,124}</string>
                <key>textureRect</key>
                <string>{{167,127},{164,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-laser-hitting-animation-without-laser-image_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,124}</string>
                <key>spriteSourceSize</key>
                <string>{164,124}</string>
                <key>textureRect</key>
                <string>{{333,127},{164,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-laser-hitting-animation-without-laser-image_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,124}</string>
                <key>spriteSourceSize</key>
                <string>{164,124}</string>
                <key>textureRect</key>
                <string>{{1,253},{164,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-laser-hitting-animation-without-laser-image_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,124}</string>
                <key>spriteSourceSize</key>
                <string>{164,124}</string>
                <key>textureRect</key>
                <string>{{167,253},{164,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-laser-hitting-animation-without-laser-image_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,124}</string>
                <key>spriteSourceSize</key>
                <string>{164,124}</string>
                <key>textureRect</key>
                <string>{{333,253},{164,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-laser-hitting-animation-without-laser-image_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,124}</string>
                <key>spriteSourceSize</key>
                <string>{164,124}</string>
                <key>textureRect</key>
                <string>{{1,379},{164,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-laser-hitting-animation-without-laser-image_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,124}</string>
                <key>spriteSourceSize</key>
                <string>{164,124}</string>
                <key>textureRect</key>
                <string>{{167,379},{164,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-laser-hitting-animation-without-laser-image_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,124}</string>
                <key>spriteSourceSize</key>
                <string>{164,124}</string>
                <key>textureRect</key>
                <string>{{333,379},{164,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-laser-hitting-animation-without-laser-image_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,124}</string>
                <key>spriteSourceSize</key>
                <string>{164,124}</string>
                <key>textureRect</key>
                <string>{{1,505},{164,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-laser-hitting-animation-without-laser-image_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,124}</string>
                <key>spriteSourceSize</key>
                <string>{164,124}</string>
                <key>textureRect</key>
                <string>{{167,505},{164,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-laser-hitting-animation-without-laser-image_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,124}</string>
                <key>spriteSourceSize</key>
                <string>{164,124}</string>
                <key>textureRect</key>
                <string>{{333,505},{164,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-laser-hitting-animation-without-laser-image_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,124}</string>
                <key>spriteSourceSize</key>
                <string>{164,124}</string>
                <key>textureRect</key>
                <string>{{1,631},{164,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-laser-hitting-animation-without-laser-image_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,124}</string>
                <key>spriteSourceSize</key>
                <string>{164,124}</string>
                <key>textureRect</key>
                <string>{{167,631},{164,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-laser-hitting-animation-without-laser-image_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,124}</string>
                <key>spriteSourceSize</key>
                <string>{164,124}</string>
                <key>textureRect</key>
                <string>{{333,631},{164,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-laser-hitting-animation-without-laser-image_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,124}</string>
                <key>spriteSourceSize</key>
                <string>{164,124}</string>
                <key>textureRect</key>
                <string>{{1,757},{164,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-laser-hitting-animation-without-laser-image_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,124}</string>
                <key>spriteSourceSize</key>
                <string>{164,124}</string>
                <key>textureRect</key>
                <string>{{167,757},{164,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-laser-hitting-animation-without-laser-image_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,124}</string>
                <key>spriteSourceSize</key>
                <string>{164,124}</string>
                <key>textureRect</key>
                <string>{{333,757},{164,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-laser-hitting-animation-without-laser-image_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,124}</string>
                <key>spriteSourceSize</key>
                <string>{164,124}</string>
                <key>textureRect</key>
                <string>{{1,883},{164,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-laser-hitting-animation-without-laser-image_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,124}</string>
                <key>spriteSourceSize</key>
                <string>{164,124}</string>
                <key>textureRect</key>
                <string>{{167,883},{164,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-laser-hitting-animation-without-laser-image_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,124}</string>
                <key>spriteSourceSize</key>
                <string>{164,124}</string>
                <key>textureRect</key>
                <string>{{333,883},{164,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-laser-hitting-animation-without-laser-image_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,124}</string>
                <key>spriteSourceSize</key>
                <string>{164,124}</string>
                <key>textureRect</key>
                <string>{{1,1009},{164,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-laser-hitting-animation-without-laser-image_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,124}</string>
                <key>spriteSourceSize</key>
                <string>{164,124}</string>
                <key>textureRect</key>
                <string>{{167,1009},{164,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-laser-hitting-animation-without-laser-image_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,124}</string>
                <key>spriteSourceSize</key>
                <string>{164,124}</string>
                <key>textureRect</key>
                <string>{{333,1009},{164,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-laser-hitting-animation-without-laser-image_27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,124}</string>
                <key>spriteSourceSize</key>
                <string>{164,124}</string>
                <key>textureRect</key>
                <string>{{1,1135},{164,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-laser-hitting-animation-without-laser-image_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,124}</string>
                <key>spriteSourceSize</key>
                <string>{164,124}</string>
                <key>textureRect</key>
                <string>{{167,1135},{164,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-laser-hitting-animation-without-laser-image_29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,124}</string>
                <key>spriteSourceSize</key>
                <string>{164,124}</string>
                <key>textureRect</key>
                <string>{{333,1135},{164,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-laser-hitting-animation-without-laser-image_30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,124}</string>
                <key>spriteSourceSize</key>
                <string>{164,124}</string>
                <key>textureRect</key>
                <string>{{1,1261},{164,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-laser-hitting-animation-without-laser-image_31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,124}</string>
                <key>spriteSourceSize</key>
                <string>{164,124}</string>
                <key>textureRect</key>
                <string>{{167,1261},{164,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-laser-hitting-animation-without-laser-image_32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,124}</string>
                <key>spriteSourceSize</key>
                <string>{164,124}</string>
                <key>textureRect</key>
                <string>{{333,1261},{164,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-laser-hitting-animation-without-laser-image_33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,124}</string>
                <key>spriteSourceSize</key>
                <string>{164,124}</string>
                <key>textureRect</key>
                <string>{{1,1387},{164,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-laser-hitting-animation-without-laser-image_34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,124}</string>
                <key>spriteSourceSize</key>
                <string>{164,124}</string>
                <key>textureRect</key>
                <string>{{167,1387},{164,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-laser-hitting-animation-without-laser-image_35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,124}</string>
                <key>spriteSourceSize</key>
                <string>{164,124}</string>
                <key>textureRect</key>
                <string>{{333,1387},{164,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-laser-hitting-animation-without-laser-image_36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,124}</string>
                <key>spriteSourceSize</key>
                <string>{164,124}</string>
                <key>textureRect</key>
                <string>{{1,1513},{164,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-laser-hitting-animation-without-laser-image_37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,124}</string>
                <key>spriteSourceSize</key>
                <string>{164,124}</string>
                <key>textureRect</key>
                <string>{{167,1513},{164,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-laser-hitting-animation-without-laser-image_38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,124}</string>
                <key>spriteSourceSize</key>
                <string>{164,124}</string>
                <key>textureRect</key>
                <string>{{333,1513},{164,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-laser-hitting-animation-without-laser-image_39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,124}</string>
                <key>spriteSourceSize</key>
                <string>{164,124}</string>
                <key>textureRect</key>
                <string>{{1,1639},{164,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-laser-hitting-animation-without-laser-image_40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,124}</string>
                <key>spriteSourceSize</key>
                <string>{164,124}</string>
                <key>textureRect</key>
                <string>{{167,1639},{164,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>AlienLaserHittingWithoutLaser.png</string>
            <key>size</key>
            <string>{512,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:07fafd176e72a11e11cb4c2e21aaab97:410b3849e243a93eabb05db86501e8fe:db0eb8487e5af9399ab4c6bff2422d53$</string>
            <key>textureFileName</key>
            <string>AlienLaserHittingWithoutLaser.png</string>
        </dict>
    </dict>
</plist>
