<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bomb-animation-image-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,45}</string>
                <key>spriteSourceSize</key>
                <string>{15,45}</string>
                <key>textureRect</key>
                <string>{{1,1},{15,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bomb-animation-image-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,45}</string>
                <key>spriteSourceSize</key>
                <string>{15,45}</string>
                <key>textureRect</key>
                <string>{{18,1},{15,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bomb-animation-image-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,45}</string>
                <key>spriteSourceSize</key>
                <string>{15,45}</string>
                <key>textureRect</key>
                <string>{{169,1},{15,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bomb-animation-image-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,45}</string>
                <key>spriteSourceSize</key>
                <string>{15,45}</string>
                <key>textureRect</key>
                <string>{{186,1},{15,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bomb-animation-image-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,45}</string>
                <key>spriteSourceSize</key>
                <string>{15,45}</string>
                <key>textureRect</key>
                <string>{{203,1},{15,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bomb-animation-image-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,45}</string>
                <key>spriteSourceSize</key>
                <string>{15,45}</string>
                <key>textureRect</key>
                <string>{{220,1},{15,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bomb-animation-image-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,45}</string>
                <key>spriteSourceSize</key>
                <string>{15,45}</string>
                <key>textureRect</key>
                <string>{{237,1},{15,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bomb-animation-image-15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,45}</string>
                <key>spriteSourceSize</key>
                <string>{15,45}</string>
                <key>textureRect</key>
                <string>{{1,48},{15,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bomb-animation-image-16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,45}</string>
                <key>spriteSourceSize</key>
                <string>{15,45}</string>
                <key>textureRect</key>
                <string>{{18,48},{15,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bomb-animation-image-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,45}</string>
                <key>spriteSourceSize</key>
                <string>{15,45}</string>
                <key>textureRect</key>
                <string>{{35,1},{13,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bomb-animation-image-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,45}</string>
                <key>spriteSourceSize</key>
                <string>{15,45}</string>
                <key>textureRect</key>
                <string>{{50,1},{15,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bomb-animation-image-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,45}</string>
                <key>spriteSourceSize</key>
                <string>{15,45}</string>
                <key>textureRect</key>
                <string>{{67,1},{15,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bomb-animation-image-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,45}</string>
                <key>spriteSourceSize</key>
                <string>{15,45}</string>
                <key>textureRect</key>
                <string>{{84,1},{15,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bomb-animation-image-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,45}</string>
                <key>spriteSourceSize</key>
                <string>{15,45}</string>
                <key>textureRect</key>
                <string>{{101,1},{15,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bomb-animation-image-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,45}</string>
                <key>spriteSourceSize</key>
                <string>{15,45}</string>
                <key>textureRect</key>
                <string>{{118,1},{15,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bomb-animation-image-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,45}</string>
                <key>spriteSourceSize</key>
                <string>{15,45}</string>
                <key>textureRect</key>
                <string>{{135,1},{15,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bomb-animation-image-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,45}</string>
                <key>spriteSourceSize</key>
                <string>{15,45}</string>
                <key>textureRect</key>
                <string>{{152,1},{15,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>BombRotation.png</string>
            <key>size</key>
            <string>{256,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:01546c5b81bab7e3a8c84e82df8585d6:964680467e93720b55e2d0d3edc1be47:b8de65b2ab9556b681db40eaa7e4f5b9$</string>
            <key>textureFileName</key>
            <string>BombRotation.png</string>
        </dict>
    </dict>
</plist>
