<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Bush-Safe-C_00071.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,275}</string>
                <key>spriteSourceSize</key>
                <string>{195,275}</string>
                <key>textureRect</key>
                <string>{{1,1},{195,275}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bush-Safe-C_00072.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,275}</string>
                <key>spriteSourceSize</key>
                <string>{195,275}</string>
                <key>textureRect</key>
                <string>{{1,278},{195,275}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bush-Safe-C_00073.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,275}</string>
                <key>spriteSourceSize</key>
                <string>{195,275}</string>
                <key>textureRect</key>
                <string>{{1,555},{195,275}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bush-Safe-C_00074.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,275}</string>
                <key>spriteSourceSize</key>
                <string>{195,275}</string>
                <key>textureRect</key>
                <string>{{1,832},{195,275}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bush-Safe-C_00075.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,275}</string>
                <key>spriteSourceSize</key>
                <string>{195,275}</string>
                <key>textureRect</key>
                <string>{{1,1109},{195,275}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bush-Safe-C_00076.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,275}</string>
                <key>spriteSourceSize</key>
                <string>{195,275}</string>
                <key>textureRect</key>
                <string>{{1,1386},{195,275}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bush-Safe-C_00077.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,275}</string>
                <key>spriteSourceSize</key>
                <string>{195,275}</string>
                <key>textureRect</key>
                <string>{{1,1663},{195,275}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bush-Safe-C_00078.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,275}</string>
                <key>spriteSourceSize</key>
                <string>{195,275}</string>
                <key>textureRect</key>
                <string>{{198,1},{195,275}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bush-Safe-C_00079.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,275}</string>
                <key>spriteSourceSize</key>
                <string>{195,275}</string>
                <key>textureRect</key>
                <string>{{198,278},{195,275}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bush-Safe-C_00080.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,275}</string>
                <key>spriteSourceSize</key>
                <string>{195,275}</string>
                <key>textureRect</key>
                <string>{{198,555},{195,275}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bush-Safe-C_00081.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,275}</string>
                <key>spriteSourceSize</key>
                <string>{195,275}</string>
                <key>textureRect</key>
                <string>{{198,832},{195,275}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bush-Safe-C_00082.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,275}</string>
                <key>spriteSourceSize</key>
                <string>{195,275}</string>
                <key>textureRect</key>
                <string>{{198,1109},{195,275}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bush-Safe-C_00083.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,275}</string>
                <key>spriteSourceSize</key>
                <string>{195,275}</string>
                <key>textureRect</key>
                <string>{{198,1386},{195,275}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bush-Safe-C_00084.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,275}</string>
                <key>spriteSourceSize</key>
                <string>{195,275}</string>
                <key>textureRect</key>
                <string>{{198,1663},{195,275}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bush-Safe-C_00085.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,275}</string>
                <key>spriteSourceSize</key>
                <string>{195,275}</string>
                <key>textureRect</key>
                <string>{{395,1},{195,275}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bush-Safe-C_00086.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,275}</string>
                <key>spriteSourceSize</key>
                <string>{195,275}</string>
                <key>textureRect</key>
                <string>{{395,278},{195,275}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bush-Safe-C_00087.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,275}</string>
                <key>spriteSourceSize</key>
                <string>{195,275}</string>
                <key>textureRect</key>
                <string>{{395,555},{195,275}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bush-Safe-C_00088.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,275}</string>
                <key>spriteSourceSize</key>
                <string>{195,275}</string>
                <key>textureRect</key>
                <string>{{395,832},{195,275}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bush-Safe-C_00089.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,275}</string>
                <key>spriteSourceSize</key>
                <string>{195,275}</string>
                <key>textureRect</key>
                <string>{{395,1109},{195,275}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bush-Safe-C_00090.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,275}</string>
                <key>spriteSourceSize</key>
                <string>{195,275}</string>
                <key>textureRect</key>
                <string>{{395,1386},{195,275}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bush-Safe-C_00091.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,275}</string>
                <key>spriteSourceSize</key>
                <string>{195,275}</string>
                <key>textureRect</key>
                <string>{{395,1663},{195,275}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bush-Safe-C_00092.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,275}</string>
                <key>spriteSourceSize</key>
                <string>{195,275}</string>
                <key>textureRect</key>
                <string>{{592,1},{195,275}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bush-Safe-C_00093.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,275}</string>
                <key>spriteSourceSize</key>
                <string>{195,275}</string>
                <key>textureRect</key>
                <string>{{592,278},{195,275}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bush-Safe-C_00094.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,275}</string>
                <key>spriteSourceSize</key>
                <string>{195,275}</string>
                <key>textureRect</key>
                <string>{{592,555},{195,275}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Bush-1.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ae363ad12d409e6ee9b428ec658b6377:6c37c86cccf09c4b0ae8dfd165d37592:8e5f0afb2698848c830663eea6368f35$</string>
            <key>textureFileName</key>
            <string>Bush-1.png</string>
        </dict>
    </dict>
</plist>
