<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Pre-explosion_image_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,81}</string>
                <key>spriteSourceSize</key>
                <string>{83,81}</string>
                <key>textureRect</key>
                <string>{{1,1},{83,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Pre-explosion_image_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,81}</string>
                <key>spriteSourceSize</key>
                <string>{83,81}</string>
                <key>textureRect</key>
                <string>{{86,1},{83,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Pre-explosion_image_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,81}</string>
                <key>spriteSourceSize</key>
                <string>{83,81}</string>
                <key>textureRect</key>
                <string>{{171,1},{83,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Pre-explosion_image_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,81}</string>
                <key>spriteSourceSize</key>
                <string>{83,81}</string>
                <key>textureRect</key>
                <string>{{256,1},{83,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Pre-explosion_image_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,81}</string>
                <key>spriteSourceSize</key>
                <string>{83,81}</string>
                <key>textureRect</key>
                <string>{{341,1},{83,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Pre-explosion_image_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,81}</string>
                <key>spriteSourceSize</key>
                <string>{83,81}</string>
                <key>textureRect</key>
                <string>{{426,1},{83,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Pre-explosion_image_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,81}</string>
                <key>spriteSourceSize</key>
                <string>{83,81}</string>
                <key>textureRect</key>
                <string>{{511,1},{83,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Pre-explosion_image_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,81}</string>
                <key>spriteSourceSize</key>
                <string>{83,81}</string>
                <key>textureRect</key>
                <string>{{596,1},{83,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Pre-explosion_image_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,81}</string>
                <key>spriteSourceSize</key>
                <string>{83,81}</string>
                <key>textureRect</key>
                <string>{{681,1},{83,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Pre-explosion_image_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,81}</string>
                <key>spriteSourceSize</key>
                <string>{83,81}</string>
                <key>textureRect</key>
                <string>{{766,1},{83,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Pre-explosion_image_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,81}</string>
                <key>spriteSourceSize</key>
                <string>{83,81}</string>
                <key>textureRect</key>
                <string>{{851,1},{83,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Pre-explosion_image_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,81}</string>
                <key>spriteSourceSize</key>
                <string>{83,81}</string>
                <key>textureRect</key>
                <string>{{936,1},{83,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Pre-explosion_image_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,81}</string>
                <key>spriteSourceSize</key>
                <string>{83,81}</string>
                <key>textureRect</key>
                <string>{{1021,1},{83,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Pre-explosion_image_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,81}</string>
                <key>spriteSourceSize</key>
                <string>{83,81}</string>
                <key>textureRect</key>
                <string>{{1106,1},{83,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Pre-explosion_image_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,81}</string>
                <key>spriteSourceSize</key>
                <string>{83,81}</string>
                <key>textureRect</key>
                <string>{{1191,1},{83,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Pre-explosion_image_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,81}</string>
                <key>spriteSourceSize</key>
                <string>{83,81}</string>
                <key>textureRect</key>
                <string>{{1276,1},{83,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Pre-explosion_image_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,81}</string>
                <key>spriteSourceSize</key>
                <string>{83,81}</string>
                <key>textureRect</key>
                <string>{{1361,1},{83,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Pre-explosion_image_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,81}</string>
                <key>spriteSourceSize</key>
                <string>{83,81}</string>
                <key>textureRect</key>
                <string>{{1446,1},{83,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Pre-explosion_image_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,81}</string>
                <key>spriteSourceSize</key>
                <string>{83,81}</string>
                <key>textureRect</key>
                <string>{{1531,1},{83,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Pre-explosion_image_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,81}</string>
                <key>spriteSourceSize</key>
                <string>{83,81}</string>
                <key>textureRect</key>
                <string>{{1616,1},{83,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Pre-explosion_image_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,81}</string>
                <key>spriteSourceSize</key>
                <string>{83,81}</string>
                <key>textureRect</key>
                <string>{{1701,1},{83,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Pre-explosion_image_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,81}</string>
                <key>spriteSourceSize</key>
                <string>{83,81}</string>
                <key>textureRect</key>
                <string>{{1786,1},{83,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Pre-explosion_image_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,81}</string>
                <key>spriteSourceSize</key>
                <string>{83,81}</string>
                <key>textureRect</key>
                <string>{{1871,1},{83,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Pre-explosion_image_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,81}</string>
                <key>spriteSourceSize</key>
                <string>{83,81}</string>
                <key>textureRect</key>
                <string>{{1956,1},{83,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Pre-explosion-0.png</string>
            <key>size</key>
            <string>{2040,83}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9b12dabd7679b66e87c021af4810448a:cbca35fe64f63468e42ff429604a50a0:03b366f13620a340e9153d75def435a4$</string>
            <key>textureFileName</key>
            <string>Pre-explosion-0.png</string>
        </dict>
    </dict>
</plist>
