<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>standard_gun_rotation_image_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{480,256}</string>
                <key>spriteSourceSize</key>
                <string>{480,256}</string>
                <key>textureRect</key>
                <string>{{1,1},{480,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>standard_gun_rotation_image_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{480,256}</string>
                <key>spriteSourceSize</key>
                <string>{480,256}</string>
                <key>textureRect</key>
                <string>{{483,1},{480,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>standard_gun_rotation_image_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{480,256}</string>
                <key>spriteSourceSize</key>
                <string>{480,256}</string>
                <key>textureRect</key>
                <string>{{965,1},{480,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>standard_gun_rotation_image_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{480,256}</string>
                <key>spriteSourceSize</key>
                <string>{480,256}</string>
                <key>textureRect</key>
                <string>{{1447,1},{480,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>standard_gun_rotation_image_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{480,256}</string>
                <key>spriteSourceSize</key>
                <string>{480,256}</string>
                <key>textureRect</key>
                <string>{{1,259},{480,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>standard_gun_rotation_image_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{480,256}</string>
                <key>spriteSourceSize</key>
                <string>{480,256}</string>
                <key>textureRect</key>
                <string>{{483,259},{480,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>standard_gun_rotation_image_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{480,256}</string>
                <key>spriteSourceSize</key>
                <string>{480,256}</string>
                <key>textureRect</key>
                <string>{{965,259},{480,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>standard_gun_rotation_image_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{480,256}</string>
                <key>spriteSourceSize</key>
                <string>{480,256}</string>
                <key>textureRect</key>
                <string>{{1447,259},{480,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>standard_gun_rotation_image_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{480,256}</string>
                <key>spriteSourceSize</key>
                <string>{480,256}</string>
                <key>textureRect</key>
                <string>{{1,517},{480,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>standard_gun_rotation_image_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{480,256}</string>
                <key>spriteSourceSize</key>
                <string>{480,256}</string>
                <key>textureRect</key>
                <string>{{483,517},{480,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>standard_gun_rotation_image_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{480,256}</string>
                <key>spriteSourceSize</key>
                <string>{480,256}</string>
                <key>textureRect</key>
                <string>{{965,517},{480,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>standard_gun_rotation_image_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{480,256}</string>
                <key>spriteSourceSize</key>
                <string>{480,256}</string>
                <key>textureRect</key>
                <string>{{1447,517},{480,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>standard_gun_rotation_image_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{480,256}</string>
                <key>spriteSourceSize</key>
                <string>{480,256}</string>
                <key>textureRect</key>
                <string>{{1,775},{480,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>standard_gun_rotation_image_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{480,256}</string>
                <key>spriteSourceSize</key>
                <string>{480,256}</string>
                <key>textureRect</key>
                <string>{{483,775},{480,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>standard_gun_rotation_image_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{480,256}</string>
                <key>spriteSourceSize</key>
                <string>{480,256}</string>
                <key>textureRect</key>
                <string>{{965,775},{480,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>standard_gun_rotation_image_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{480,256}</string>
                <key>spriteSourceSize</key>
                <string>{480,256}</string>
                <key>textureRect</key>
                <string>{{1447,775},{480,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>standard_gun_rotation_image_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{480,256}</string>
                <key>spriteSourceSize</key>
                <string>{480,256}</string>
                <key>textureRect</key>
                <string>{{1,1033},{480,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>standard_gun_rotation_image_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{480,256}</string>
                <key>spriteSourceSize</key>
                <string>{480,256}</string>
                <key>textureRect</key>
                <string>{{483,1033},{480,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>standard_gun_rotation_image_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{480,256}</string>
                <key>spriteSourceSize</key>
                <string>{480,256}</string>
                <key>textureRect</key>
                <string>{{965,1033},{480,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>standard_gun_rotation_image_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{480,256}</string>
                <key>spriteSourceSize</key>
                <string>{480,256}</string>
                <key>textureRect</key>
                <string>{{1447,1033},{480,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>standard_gun_rotation_image_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{480,256}</string>
                <key>spriteSourceSize</key>
                <string>{480,256}</string>
                <key>textureRect</key>
                <string>{{1,1291},{480,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>standard_gun_rotation_image_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{480,256}</string>
                <key>spriteSourceSize</key>
                <string>{480,256}</string>
                <key>textureRect</key>
                <string>{{483,1291},{480,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>standard_gun_rotation_image_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{480,256}</string>
                <key>spriteSourceSize</key>
                <string>{480,256}</string>
                <key>textureRect</key>
                <string>{{965,1291},{480,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>standard_gun_rotation_image_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{480,256}</string>
                <key>spriteSourceSize</key>
                <string>{480,256}</string>
                <key>textureRect</key>
                <string>{{1447,1291},{480,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>standard_gun_rotation_image_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{480,256}</string>
                <key>spriteSourceSize</key>
                <string>{480,256}</string>
                <key>textureRect</key>
                <string>{{1,1549},{480,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>standard_gun_rotation_image_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{480,256}</string>
                <key>spriteSourceSize</key>
                <string>{480,256}</string>
                <key>textureRect</key>
                <string>{{483,1549},{480,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>standard_gun_rotation_image_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{480,256}</string>
                <key>spriteSourceSize</key>
                <string>{480,256}</string>
                <key>textureRect</key>
                <string>{{965,1549},{480,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>standard_gun_rotation_image_27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{480,256}</string>
                <key>spriteSourceSize</key>
                <string>{480,256}</string>
                <key>textureRect</key>
                <string>{{1447,1549},{480,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>StandardCannonRotate-0.png</string>
            <key>size</key>
            <string>{1928,1806}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:aa9b9dac7c4723e0da81fd956975e760:5f5ce54deaac73e4a4e230763134bfe4:be828a907b4c4328f98e972d05cce05a$</string>
            <key>textureFileName</key>
            <string>StandardCannonRotate-0.png</string>
        </dict>
    </dict>
</plist>
