<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Hitler-Strength-E00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,269}</string>
                <key>spriteSourceSize</key>
                <string>{183,269}</string>
                <key>textureRect</key>
                <string>{{1,1},{183,269}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hitler-Strength-E00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,269}</string>
                <key>spriteSourceSize</key>
                <string>{183,269}</string>
                <key>textureRect</key>
                <string>{{186,1},{183,269}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hitler-Strength-E00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,269}</string>
                <key>spriteSourceSize</key>
                <string>{183,269}</string>
                <key>textureRect</key>
                <string>{{371,1},{183,269}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hitler-Strength-E00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,269}</string>
                <key>spriteSourceSize</key>
                <string>{183,269}</string>
                <key>textureRect</key>
                <string>{{556,1},{183,269}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hitler-Strength-E00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,269}</string>
                <key>spriteSourceSize</key>
                <string>{183,269}</string>
                <key>textureRect</key>
                <string>{{741,1},{183,269}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hitler-Strength-E00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,269}</string>
                <key>spriteSourceSize</key>
                <string>{183,269}</string>
                <key>textureRect</key>
                <string>{{926,1},{183,269}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hitler-Strength-E00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,269}</string>
                <key>spriteSourceSize</key>
                <string>{183,269}</string>
                <key>textureRect</key>
                <string>{{1111,1},{183,269}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hitler-Strength-E00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,269}</string>
                <key>spriteSourceSize</key>
                <string>{183,269}</string>
                <key>textureRect</key>
                <string>{{1296,1},{183,269}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hitler-Strength-E00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,269}</string>
                <key>spriteSourceSize</key>
                <string>{183,269}</string>
                <key>textureRect</key>
                <string>{{1481,1},{183,269}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hitler-Strength-E00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,269}</string>
                <key>spriteSourceSize</key>
                <string>{183,269}</string>
                <key>textureRect</key>
                <string>{{1666,1},{183,269}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hitler-Strength-E00011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,269}</string>
                <key>spriteSourceSize</key>
                <string>{183,269}</string>
                <key>textureRect</key>
                <string>{{1851,1},{183,269}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hitler-Strength-E00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,269}</string>
                <key>spriteSourceSize</key>
                <string>{183,269}</string>
                <key>textureRect</key>
                <string>{{1,272},{183,269}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hitler-Strength-E00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,269}</string>
                <key>spriteSourceSize</key>
                <string>{183,269}</string>
                <key>textureRect</key>
                <string>{{186,272},{183,269}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hitler-Strength-E00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,269}</string>
                <key>spriteSourceSize</key>
                <string>{183,269}</string>
                <key>textureRect</key>
                <string>{{371,272},{183,269}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hitler-Strength-E00015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,269}</string>
                <key>spriteSourceSize</key>
                <string>{183,269}</string>
                <key>textureRect</key>
                <string>{{556,272},{183,269}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hitler-Strength-E00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,269}</string>
                <key>spriteSourceSize</key>
                <string>{183,269}</string>
                <key>textureRect</key>
                <string>{{741,272},{183,269}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hitler-Strength-E00017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,269}</string>
                <key>spriteSourceSize</key>
                <string>{183,269}</string>
                <key>textureRect</key>
                <string>{{926,272},{183,269}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hitler-Strength-E00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,269}</string>
                <key>spriteSourceSize</key>
                <string>{183,269}</string>
                <key>textureRect</key>
                <string>{{1111,272},{183,269}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hitler-Strength-E00019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,269}</string>
                <key>spriteSourceSize</key>
                <string>{183,269}</string>
                <key>textureRect</key>
                <string>{{1296,272},{183,269}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hitler-Strength-E00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,269}</string>
                <key>spriteSourceSize</key>
                <string>{183,269}</string>
                <key>textureRect</key>
                <string>{{1481,272},{183,269}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hitler-Strength-E00021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,269}</string>
                <key>spriteSourceSize</key>
                <string>{183,269}</string>
                <key>textureRect</key>
                <string>{{1666,272},{183,269}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hitler-Strength-E00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,269}</string>
                <key>spriteSourceSize</key>
                <string>{183,269}</string>
                <key>textureRect</key>
                <string>{{1851,272},{183,269}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hitler-Strength-E00023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,269}</string>
                <key>spriteSourceSize</key>
                <string>{183,269}</string>
                <key>textureRect</key>
                <string>{{1,543},{183,269}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hitler-Strength-E00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,269}</string>
                <key>spriteSourceSize</key>
                <string>{183,269}</string>
                <key>textureRect</key>
                <string>{{186,543},{183,269}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hitler-Strength-E00025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,269}</string>
                <key>spriteSourceSize</key>
                <string>{183,269}</string>
                <key>textureRect</key>
                <string>{{371,543},{183,269}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hitler-Strength-E00026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,269}</string>
                <key>spriteSourceSize</key>
                <string>{183,269}</string>
                <key>textureRect</key>
                <string>{{556,543},{183,269}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hitler-Strength-E00027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,269}</string>
                <key>spriteSourceSize</key>
                <string>{183,269}</string>
                <key>textureRect</key>
                <string>{{741,543},{183,269}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hitler-Strength-E00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,269}</string>
                <key>spriteSourceSize</key>
                <string>{183,269}</string>
                <key>textureRect</key>
                <string>{{926,543},{183,269}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hitler-Strength-E00029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,269}</string>
                <key>spriteSourceSize</key>
                <string>{183,269}</string>
                <key>textureRect</key>
                <string>{{1111,543},{183,269}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hitler-Strength-E00030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,269}</string>
                <key>spriteSourceSize</key>
                <string>{183,269}</string>
                <key>textureRect</key>
                <string>{{1296,543},{183,269}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hitler-Strength-E00031.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,269}</string>
                <key>spriteSourceSize</key>
                <string>{183,269}</string>
                <key>textureRect</key>
                <string>{{1481,543},{183,269}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hitler-Strength-E00032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,269}</string>
                <key>spriteSourceSize</key>
                <string>{183,269}</string>
                <key>textureRect</key>
                <string>{{1666,543},{183,269}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hitler-Strength-E00033.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,269}</string>
                <key>spriteSourceSize</key>
                <string>{183,269}</string>
                <key>textureRect</key>
                <string>{{1851,543},{183,269}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hitler-Strength-E00034.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,269}</string>
                <key>spriteSourceSize</key>
                <string>{183,269}</string>
                <key>textureRect</key>
                <string>{{1,814},{183,269}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hitler-Strength-E00035.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,269}</string>
                <key>spriteSourceSize</key>
                <string>{183,269}</string>
                <key>textureRect</key>
                <string>{{186,814},{183,269}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hitler-Strength-E00036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,269}</string>
                <key>spriteSourceSize</key>
                <string>{183,269}</string>
                <key>textureRect</key>
                <string>{{371,814},{183,269}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hitler-Strength-E00037.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,269}</string>
                <key>spriteSourceSize</key>
                <string>{183,269}</string>
                <key>textureRect</key>
                <string>{{556,814},{183,269}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hitler-Strength-E00038.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,269}</string>
                <key>spriteSourceSize</key>
                <string>{183,269}</string>
                <key>textureRect</key>
                <string>{{741,814},{183,269}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hitler-Strength-E00039.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,269}</string>
                <key>spriteSourceSize</key>
                <string>{183,269}</string>
                <key>textureRect</key>
                <string>{{926,814},{183,269}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hitler-Strength-E00040.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,269}</string>
                <key>spriteSourceSize</key>
                <string>{183,269}</string>
                <key>textureRect</key>
                <string>{{1111,814},{183,269}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hitler-Strength-E00041.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,269}</string>
                <key>spriteSourceSize</key>
                <string>{183,269}</string>
                <key>textureRect</key>
                <string>{{1296,814},{183,269}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hitler-Strength-E00042.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,269}</string>
                <key>spriteSourceSize</key>
                <string>{183,269}</string>
                <key>textureRect</key>
                <string>{{1481,814},{183,269}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hitler-Strength-E00043.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,269}</string>
                <key>spriteSourceSize</key>
                <string>{183,269}</string>
                <key>textureRect</key>
                <string>{{1666,814},{183,269}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hitler-Strength-E00044.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,269}</string>
                <key>spriteSourceSize</key>
                <string>{183,269}</string>
                <key>textureRect</key>
                <string>{{1851,814},{183,269}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hitler-Strength-E00045.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,269}</string>
                <key>spriteSourceSize</key>
                <string>{183,269}</string>
                <key>textureRect</key>
                <string>{{1,1085},{183,269}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hitler-Strength-E00046.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,269}</string>
                <key>spriteSourceSize</key>
                <string>{183,269}</string>
                <key>textureRect</key>
                <string>{{186,1085},{183,269}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hitler-Strength-E00047.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,269}</string>
                <key>spriteSourceSize</key>
                <string>{183,269}</string>
                <key>textureRect</key>
                <string>{{371,1085},{183,269}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hitler-Strength-E00048.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,269}</string>
                <key>spriteSourceSize</key>
                <string>{183,269}</string>
                <key>textureRect</key>
                <string>{{556,1085},{183,269}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hitler-Strength-E00049.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,269}</string>
                <key>spriteSourceSize</key>
                <string>{183,269}</string>
                <key>textureRect</key>
                <string>{{741,1085},{183,269}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hitler-Strength-E00050.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,269}</string>
                <key>spriteSourceSize</key>
                <string>{183,269}</string>
                <key>textureRect</key>
                <string>{{926,1085},{183,269}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hitler-Strength-E00051.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,269}</string>
                <key>spriteSourceSize</key>
                <string>{183,269}</string>
                <key>textureRect</key>
                <string>{{1111,1085},{183,269}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hitler-Strength-E00052.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,269}</string>
                <key>spriteSourceSize</key>
                <string>{183,269}</string>
                <key>textureRect</key>
                <string>{{1296,1085},{183,269}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hitler-Strength-E00053.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,269}</string>
                <key>spriteSourceSize</key>
                <string>{183,269}</string>
                <key>textureRect</key>
                <string>{{1481,1085},{183,269}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hitler-Strength-E00054.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,269}</string>
                <key>spriteSourceSize</key>
                <string>{183,269}</string>
                <key>textureRect</key>
                <string>{{1666,1085},{183,269}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hitler-Strength-E00055.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,269}</string>
                <key>spriteSourceSize</key>
                <string>{183,269}</string>
                <key>textureRect</key>
                <string>{{1851,1085},{183,269}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hitler-Strength-E00056.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,269}</string>
                <key>spriteSourceSize</key>
                <string>{183,269}</string>
                <key>textureRect</key>
                <string>{{1,1356},{183,269}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hitler-Strength-E00057.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,269}</string>
                <key>spriteSourceSize</key>
                <string>{183,269}</string>
                <key>textureRect</key>
                <string>{{186,1356},{183,269}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hitler-Strength-E00058.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,269}</string>
                <key>spriteSourceSize</key>
                <string>{183,269}</string>
                <key>textureRect</key>
                <string>{{371,1356},{183,269}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hitler-Strength-E00059.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,269}</string>
                <key>spriteSourceSize</key>
                <string>{183,269}</string>
                <key>textureRect</key>
                <string>{{556,1356},{183,269}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hitler-Strength-E00060.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,269}</string>
                <key>spriteSourceSize</key>
                <string>{183,269}</string>
                <key>textureRect</key>
                <string>{{741,1356},{183,269}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hitler-Strength-E00061.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,269}</string>
                <key>spriteSourceSize</key>
                <string>{183,269}</string>
                <key>textureRect</key>
                <string>{{926,1356},{183,269}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hitler-Strength-E00062.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,269}</string>
                <key>spriteSourceSize</key>
                <string>{183,269}</string>
                <key>textureRect</key>
                <string>{{1111,1356},{183,269}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hitler-Strength-E00063.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,269}</string>
                <key>spriteSourceSize</key>
                <string>{183,269}</string>
                <key>textureRect</key>
                <string>{{1296,1356},{183,269}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hitler-Strength-E00064.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,269}</string>
                <key>spriteSourceSize</key>
                <string>{183,269}</string>
                <key>textureRect</key>
                <string>{{1481,1356},{183,269}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hitler-Strength-E00065.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,269}</string>
                <key>spriteSourceSize</key>
                <string>{183,269}</string>
                <key>textureRect</key>
                <string>{{1666,1356},{183,269}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hitler-Strength-E00066.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,269}</string>
                <key>spriteSourceSize</key>
                <string>{183,269}</string>
                <key>textureRect</key>
                <string>{{1851,1356},{183,269}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hitler-Strength-E00067.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,269}</string>
                <key>spriteSourceSize</key>
                <string>{183,269}</string>
                <key>textureRect</key>
                <string>{{1,1627},{183,269}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hitler-Strength-E00068.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,269}</string>
                <key>spriteSourceSize</key>
                <string>{183,269}</string>
                <key>textureRect</key>
                <string>{{186,1627},{183,269}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hitler-Strength-E00069.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,269}</string>
                <key>spriteSourceSize</key>
                <string>{183,269}</string>
                <key>textureRect</key>
                <string>{{371,1627},{183,269}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hitler-Strength-E00070.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,269}</string>
                <key>spriteSourceSize</key>
                <string>{183,269}</string>
                <key>textureRect</key>
                <string>{{556,1627},{183,269}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hitler-Strength-E00071.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,269}</string>
                <key>spriteSourceSize</key>
                <string>{183,269}</string>
                <key>textureRect</key>
                <string>{{741,1627},{183,269}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hitler-Strength-E00072.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,269}</string>
                <key>spriteSourceSize</key>
                <string>{183,269}</string>
                <key>textureRect</key>
                <string>{{926,1627},{183,269}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hitler-Strength-E00073.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,269}</string>
                <key>spriteSourceSize</key>
                <string>{183,269}</string>
                <key>textureRect</key>
                <string>{{1111,1627},{183,269}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hitler-Strength-E00074.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,269}</string>
                <key>spriteSourceSize</key>
                <string>{183,269}</string>
                <key>textureRect</key>
                <string>{{1296,1627},{183,269}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hitler-Strength-E00075.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,269}</string>
                <key>spriteSourceSize</key>
                <string>{183,269}</string>
                <key>textureRect</key>
                <string>{{1481,1627},{183,269}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hitler-Strength-E00076.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,269}</string>
                <key>spriteSourceSize</key>
                <string>{183,269}</string>
                <key>textureRect</key>
                <string>{{1666,1627},{183,269}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hitler-Strength-E00077.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,269}</string>
                <key>spriteSourceSize</key>
                <string>{183,269}</string>
                <key>textureRect</key>
                <string>{{1851,1627},{183,269}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Adolf-0.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:976a9119a900ede13217c7f64710c487:ff1f8cd76b3279d0592c84952e653575:e705d4ace5604e97e6c8800c9ff3c822$</string>
            <key>textureFileName</key>
            <string>Adolf-0.png</string>
        </dict>
    </dict>
</plist>
