<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Alien-C-5_00281.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{1,1},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00282.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{196,1},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00283.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{391,1},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00284.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{586,1},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00285.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{781,1},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00286.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{976,1},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00287.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{1171,1},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00288.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{1366,1},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00289.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{1561,1},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00290.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{1756,1},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00291.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{1,258},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00292.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{196,258},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00293.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{391,258},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00294.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{586,258},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00295.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{781,258},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00296.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{976,258},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00297.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{1171,258},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00298.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{1366,258},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00299.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{1561,258},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00300.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{1756,258},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00301.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{1,515},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00302.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{196,515},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00303.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{391,515},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00304.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{586,515},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00305.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{781,515},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00306.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{976,515},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00307.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{1171,515},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00308.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{1366,515},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00309.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{1561,515},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00310.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{1756,515},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00311.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{1,772},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00312.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{196,772},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00313.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{391,772},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00314.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{586,772},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00315.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{781,772},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00316.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{976,772},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00317.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{1171,772},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00318.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{1366,772},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00319.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{1561,772},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00320.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{1756,772},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00321.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{1,1029},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00322.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{196,1029},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00323.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{391,1029},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00324.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{586,1029},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00325.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{781,1029},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00326.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{976,1029},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00327.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{1171,1029},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00328.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{1366,1029},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00329.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{1561,1029},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00330.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{1756,1029},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00331.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{1,1286},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00332.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{196,1286},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00333.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{391,1286},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00334.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{586,1286},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00335.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{781,1286},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00336.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{976,1286},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00337.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{1171,1286},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00338.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{1366,1286},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00339.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{1561,1286},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00340.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{1756,1286},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00341.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{1,1543},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00342.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{196,1543},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00343.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{391,1543},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00344.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{586,1543},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00345.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{781,1543},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00346.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{976,1543},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00347.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{1171,1543},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00348.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{1366,1543},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00349.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{1561,1543},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00350.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{1756,1543},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Alien-4.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f4ee623e3564f978ec4d241655733174:6d540b0d08ffeaa685b3d65a94b81e09:f97d3b0bfc20f73f779915c9ddf6aed8$</string>
            <key>textureFileName</key>
            <string>Alien-4.png</string>
        </dict>
    </dict>
</plist>
