<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Bush-Safe-C_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,275}</string>
                <key>spriteSourceSize</key>
                <string>{195,275}</string>
                <key>textureRect</key>
                <string>{{1,1},{195,275}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bush-Safe-C_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,275}</string>
                <key>spriteSourceSize</key>
                <string>{195,275}</string>
                <key>textureRect</key>
                <string>{{1,278},{195,275}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bush-Safe-C_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,275}</string>
                <key>spriteSourceSize</key>
                <string>{195,275}</string>
                <key>textureRect</key>
                <string>{{1,555},{195,275}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bush-Safe-C_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,275}</string>
                <key>spriteSourceSize</key>
                <string>{195,275}</string>
                <key>textureRect</key>
                <string>{{1,832},{195,275}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bush-Safe-C_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,275}</string>
                <key>spriteSourceSize</key>
                <string>{195,275}</string>
                <key>textureRect</key>
                <string>{{1,1109},{195,275}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bush-Safe-C_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,275}</string>
                <key>spriteSourceSize</key>
                <string>{195,275}</string>
                <key>textureRect</key>
                <string>{{1,1386},{195,275}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bush-Safe-C_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,275}</string>
                <key>spriteSourceSize</key>
                <string>{195,275}</string>
                <key>textureRect</key>
                <string>{{1,1663},{195,275}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bush-Safe-C_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,275}</string>
                <key>spriteSourceSize</key>
                <string>{195,275}</string>
                <key>textureRect</key>
                <string>{{198,1},{195,275}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bush-Safe-C_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,275}</string>
                <key>spriteSourceSize</key>
                <string>{195,275}</string>
                <key>textureRect</key>
                <string>{{395,1},{195,275}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bush-Safe-C_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,275}</string>
                <key>spriteSourceSize</key>
                <string>{195,275}</string>
                <key>textureRect</key>
                <string>{{592,1},{195,275}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bush-Safe-C_00011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,275}</string>
                <key>spriteSourceSize</key>
                <string>{195,275}</string>
                <key>textureRect</key>
                <string>{{789,1},{195,275}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bush-Safe-C_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,275}</string>
                <key>spriteSourceSize</key>
                <string>{195,275}</string>
                <key>textureRect</key>
                <string>{{986,1},{195,275}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bush-Safe-C_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,275}</string>
                <key>spriteSourceSize</key>
                <string>{195,275}</string>
                <key>textureRect</key>
                <string>{{1183,1},{195,275}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bush-Safe-C_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,275}</string>
                <key>spriteSourceSize</key>
                <string>{195,275}</string>
                <key>textureRect</key>
                <string>{{1380,1},{195,275}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bush-Safe-C_00015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,275}</string>
                <key>spriteSourceSize</key>
                <string>{195,275}</string>
                <key>textureRect</key>
                <string>{{1577,1},{195,275}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bush-Safe-C_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,275}</string>
                <key>spriteSourceSize</key>
                <string>{195,275}</string>
                <key>textureRect</key>
                <string>{{1774,1},{195,275}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bush-Safe-C_00017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,275}</string>
                <key>spriteSourceSize</key>
                <string>{195,275}</string>
                <key>textureRect</key>
                <string>{{198,278},{195,275}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bush-Safe-C_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,275}</string>
                <key>spriteSourceSize</key>
                <string>{195,275}</string>
                <key>textureRect</key>
                <string>{{198,555},{195,275}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bush-Safe-C_00019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,275}</string>
                <key>spriteSourceSize</key>
                <string>{195,275}</string>
                <key>textureRect</key>
                <string>{{198,832},{195,275}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bush-Safe-C_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,275}</string>
                <key>spriteSourceSize</key>
                <string>{195,275}</string>
                <key>textureRect</key>
                <string>{{198,1109},{195,275}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bush-Safe-C_00021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,275}</string>
                <key>spriteSourceSize</key>
                <string>{195,275}</string>
                <key>textureRect</key>
                <string>{{198,1386},{195,275}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bush-Safe-C_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,275}</string>
                <key>spriteSourceSize</key>
                <string>{195,275}</string>
                <key>textureRect</key>
                <string>{{198,1663},{195,275}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bush-Safe-C_00023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,275}</string>
                <key>spriteSourceSize</key>
                <string>{195,275}</string>
                <key>textureRect</key>
                <string>{{395,278},{195,275}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bush-Safe-C_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,275}</string>
                <key>spriteSourceSize</key>
                <string>{195,275}</string>
                <key>textureRect</key>
                <string>{{395,555},{195,275}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bush-Safe-C_00025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,275}</string>
                <key>spriteSourceSize</key>
                <string>{195,275}</string>
                <key>textureRect</key>
                <string>{{395,832},{195,275}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bush-Safe-C_00026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,275}</string>
                <key>spriteSourceSize</key>
                <string>{195,275}</string>
                <key>textureRect</key>
                <string>{{395,1109},{195,275}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bush-Safe-C_00027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,275}</string>
                <key>spriteSourceSize</key>
                <string>{195,275}</string>
                <key>textureRect</key>
                <string>{{395,1386},{195,275}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bush-Safe-C_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,275}</string>
                <key>spriteSourceSize</key>
                <string>{195,275}</string>
                <key>textureRect</key>
                <string>{{395,1663},{195,275}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bush-Safe-C_00029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,275}</string>
                <key>spriteSourceSize</key>
                <string>{195,275}</string>
                <key>textureRect</key>
                <string>{{592,278},{195,275}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bush-Safe-C_00030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,275}</string>
                <key>spriteSourceSize</key>
                <string>{195,275}</string>
                <key>textureRect</key>
                <string>{{789,278},{195,275}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bush-Safe-C_00031.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,275}</string>
                <key>spriteSourceSize</key>
                <string>{195,275}</string>
                <key>textureRect</key>
                <string>{{986,278},{195,275}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bush-Safe-C_00032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,275}</string>
                <key>spriteSourceSize</key>
                <string>{195,275}</string>
                <key>textureRect</key>
                <string>{{1183,278},{195,275}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bush-Safe-C_00033.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,275}</string>
                <key>spriteSourceSize</key>
                <string>{195,275}</string>
                <key>textureRect</key>
                <string>{{1380,278},{195,275}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bush-Safe-C_00034.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,275}</string>
                <key>spriteSourceSize</key>
                <string>{195,275}</string>
                <key>textureRect</key>
                <string>{{1577,278},{195,275}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bush-Safe-C_00035.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,275}</string>
                <key>spriteSourceSize</key>
                <string>{195,275}</string>
                <key>textureRect</key>
                <string>{{1774,278},{195,275}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bush-Safe-C_00036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,275}</string>
                <key>spriteSourceSize</key>
                <string>{195,275}</string>
                <key>textureRect</key>
                <string>{{592,555},{195,275}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bush-Safe-C_00037.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,275}</string>
                <key>spriteSourceSize</key>
                <string>{195,275}</string>
                <key>textureRect</key>
                <string>{{592,832},{195,275}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bush-Safe-C_00038.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,275}</string>
                <key>spriteSourceSize</key>
                <string>{195,275}</string>
                <key>textureRect</key>
                <string>{{592,1109},{195,275}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bush-Safe-C_00039.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,275}</string>
                <key>spriteSourceSize</key>
                <string>{195,275}</string>
                <key>textureRect</key>
                <string>{{592,1386},{195,275}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bush-Safe-C_00040.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,275}</string>
                <key>spriteSourceSize</key>
                <string>{195,275}</string>
                <key>textureRect</key>
                <string>{{592,1663},{195,275}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bush-Safe-C_00041.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,275}</string>
                <key>spriteSourceSize</key>
                <string>{195,275}</string>
                <key>textureRect</key>
                <string>{{789,555},{195,275}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bush-Safe-C_00042.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,275}</string>
                <key>spriteSourceSize</key>
                <string>{195,275}</string>
                <key>textureRect</key>
                <string>{{986,555},{195,275}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bush-Safe-C_00043.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,275}</string>
                <key>spriteSourceSize</key>
                <string>{195,275}</string>
                <key>textureRect</key>
                <string>{{1183,555},{195,275}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bush-Safe-C_00044.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,275}</string>
                <key>spriteSourceSize</key>
                <string>{195,275}</string>
                <key>textureRect</key>
                <string>{{1380,555},{195,275}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bush-Safe-C_00045.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,275}</string>
                <key>spriteSourceSize</key>
                <string>{195,275}</string>
                <key>textureRect</key>
                <string>{{1577,555},{195,275}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bush-Safe-C_00046.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,275}</string>
                <key>spriteSourceSize</key>
                <string>{195,275}</string>
                <key>textureRect</key>
                <string>{{1774,555},{195,275}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bush-Safe-C_00047.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,275}</string>
                <key>spriteSourceSize</key>
                <string>{195,275}</string>
                <key>textureRect</key>
                <string>{{789,832},{195,275}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bush-Safe-C_00048.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,275}</string>
                <key>spriteSourceSize</key>
                <string>{195,275}</string>
                <key>textureRect</key>
                <string>{{789,1109},{195,275}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bush-Safe-C_00049.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,275}</string>
                <key>spriteSourceSize</key>
                <string>{195,275}</string>
                <key>textureRect</key>
                <string>{{789,1386},{195,275}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bush-Safe-C_00050.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,275}</string>
                <key>spriteSourceSize</key>
                <string>{195,275}</string>
                <key>textureRect</key>
                <string>{{789,1663},{195,275}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bush-Safe-C_00051.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,275}</string>
                <key>spriteSourceSize</key>
                <string>{195,275}</string>
                <key>textureRect</key>
                <string>{{986,832},{195,275}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bush-Safe-C_00052.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,275}</string>
                <key>spriteSourceSize</key>
                <string>{195,275}</string>
                <key>textureRect</key>
                <string>{{986,1109},{195,275}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bush-Safe-C_00053.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,275}</string>
                <key>spriteSourceSize</key>
                <string>{195,275}</string>
                <key>textureRect</key>
                <string>{{986,1386},{195,275}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bush-Safe-C_00054.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,275}</string>
                <key>spriteSourceSize</key>
                <string>{195,275}</string>
                <key>textureRect</key>
                <string>{{986,1663},{195,275}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bush-Safe-C_00055.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,275}</string>
                <key>spriteSourceSize</key>
                <string>{195,275}</string>
                <key>textureRect</key>
                <string>{{1183,832},{195,275}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bush-Safe-C_00056.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,275}</string>
                <key>spriteSourceSize</key>
                <string>{195,275}</string>
                <key>textureRect</key>
                <string>{{1380,832},{195,275}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bush-Safe-C_00057.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,275}</string>
                <key>spriteSourceSize</key>
                <string>{195,275}</string>
                <key>textureRect</key>
                <string>{{1577,832},{195,275}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bush-Safe-C_00058.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,275}</string>
                <key>spriteSourceSize</key>
                <string>{195,275}</string>
                <key>textureRect</key>
                <string>{{1774,832},{195,275}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bush-Safe-C_00059.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,275}</string>
                <key>spriteSourceSize</key>
                <string>{195,275}</string>
                <key>textureRect</key>
                <string>{{1183,1109},{195,275}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bush-Safe-C_00060.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,275}</string>
                <key>spriteSourceSize</key>
                <string>{195,275}</string>
                <key>textureRect</key>
                <string>{{1183,1386},{195,275}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bush-Safe-C_00061.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,275}</string>
                <key>spriteSourceSize</key>
                <string>{195,275}</string>
                <key>textureRect</key>
                <string>{{1183,1663},{195,275}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bush-Safe-C_00062.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,275}</string>
                <key>spriteSourceSize</key>
                <string>{195,275}</string>
                <key>textureRect</key>
                <string>{{1380,1109},{195,275}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bush-Safe-C_00063.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,275}</string>
                <key>spriteSourceSize</key>
                <string>{195,275}</string>
                <key>textureRect</key>
                <string>{{1577,1109},{195,275}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bush-Safe-C_00064.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,275}</string>
                <key>spriteSourceSize</key>
                <string>{195,275}</string>
                <key>textureRect</key>
                <string>{{1774,1109},{195,275}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bush-Safe-C_00065.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,275}</string>
                <key>spriteSourceSize</key>
                <string>{195,275}</string>
                <key>textureRect</key>
                <string>{{1380,1386},{195,275}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bush-Safe-C_00066.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,275}</string>
                <key>spriteSourceSize</key>
                <string>{195,275}</string>
                <key>textureRect</key>
                <string>{{1380,1663},{195,275}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bush-Safe-C_00067.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,275}</string>
                <key>spriteSourceSize</key>
                <string>{195,275}</string>
                <key>textureRect</key>
                <string>{{1577,1386},{195,275}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bush-Safe-C_00068.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,275}</string>
                <key>spriteSourceSize</key>
                <string>{195,275}</string>
                <key>textureRect</key>
                <string>{{1774,1386},{195,275}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bush-Safe-C_00069.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,275}</string>
                <key>spriteSourceSize</key>
                <string>{195,275}</string>
                <key>textureRect</key>
                <string>{{1577,1663},{195,275}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bush-Safe-C_00070.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,275}</string>
                <key>spriteSourceSize</key>
                <string>{195,275}</string>
                <key>textureRect</key>
                <string>{{1774,1663},{195,275}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Bush-0.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ae363ad12d409e6ee9b428ec658b6377:6c37c86cccf09c4b0ae8dfd165d37592:8e5f0afb2698848c830663eea6368f35$</string>
            <key>textureFileName</key>
            <string>Bush-0.png</string>
        </dict>
    </dict>
</plist>
