<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>kim_rotation_image_0000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,222}</string>
                <key>spriteSourceSize</key>
                <string>{180,222}</string>
                <key>textureRect</key>
                <string>{{1,1},{180,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kim_rotation_image_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,222}</string>
                <key>spriteSourceSize</key>
                <string>{180,222}</string>
                <key>textureRect</key>
                <string>{{183,1},{180,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kim_rotation_image_0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,222}</string>
                <key>spriteSourceSize</key>
                <string>{180,222}</string>
                <key>textureRect</key>
                <string>{{365,1},{180,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kim_rotation_image_0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,222}</string>
                <key>spriteSourceSize</key>
                <string>{180,222}</string>
                <key>textureRect</key>
                <string>{{547,1},{180,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kim_rotation_image_0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,222}</string>
                <key>spriteSourceSize</key>
                <string>{180,222}</string>
                <key>textureRect</key>
                <string>{{729,1},{180,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kim_rotation_image_0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,222}</string>
                <key>spriteSourceSize</key>
                <string>{180,222}</string>
                <key>textureRect</key>
                <string>{{911,1},{180,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kim_rotation_image_0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,222}</string>
                <key>spriteSourceSize</key>
                <string>{180,222}</string>
                <key>textureRect</key>
                <string>{{1093,1},{180,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kim_rotation_image_0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,222}</string>
                <key>spriteSourceSize</key>
                <string>{180,222}</string>
                <key>textureRect</key>
                <string>{{1275,1},{180,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kim_rotation_image_0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,222}</string>
                <key>spriteSourceSize</key>
                <string>{180,222}</string>
                <key>textureRect</key>
                <string>{{1457,1},{180,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kim_rotation_image_0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,222}</string>
                <key>spriteSourceSize</key>
                <string>{180,222}</string>
                <key>textureRect</key>
                <string>{{1639,1},{180,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kim_rotation_image_0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,222}</string>
                <key>spriteSourceSize</key>
                <string>{180,222}</string>
                <key>textureRect</key>
                <string>{{1,225},{180,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kim_rotation_image_0011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,222}</string>
                <key>spriteSourceSize</key>
                <string>{180,222}</string>
                <key>textureRect</key>
                <string>{{183,225},{180,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kim_rotation_image_0012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,222}</string>
                <key>spriteSourceSize</key>
                <string>{180,222}</string>
                <key>textureRect</key>
                <string>{{365,225},{180,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kim_rotation_image_0013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,222}</string>
                <key>spriteSourceSize</key>
                <string>{180,222}</string>
                <key>textureRect</key>
                <string>{{547,225},{180,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kim_rotation_image_0014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,222}</string>
                <key>spriteSourceSize</key>
                <string>{180,222}</string>
                <key>textureRect</key>
                <string>{{729,225},{180,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kim_rotation_image_0015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,222}</string>
                <key>spriteSourceSize</key>
                <string>{180,222}</string>
                <key>textureRect</key>
                <string>{{911,225},{180,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kim_rotation_image_0016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,222}</string>
                <key>spriteSourceSize</key>
                <string>{180,222}</string>
                <key>textureRect</key>
                <string>{{1093,225},{180,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kim_rotation_image_0017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,222}</string>
                <key>spriteSourceSize</key>
                <string>{180,222}</string>
                <key>textureRect</key>
                <string>{{1275,225},{180,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kim_rotation_image_0018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,222}</string>
                <key>spriteSourceSize</key>
                <string>{180,222}</string>
                <key>textureRect</key>
                <string>{{1457,225},{180,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kim_rotation_image_0019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,222}</string>
                <key>spriteSourceSize</key>
                <string>{180,222}</string>
                <key>textureRect</key>
                <string>{{1639,225},{180,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kim_rotation_image_0020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,222}</string>
                <key>spriteSourceSize</key>
                <string>{180,222}</string>
                <key>textureRect</key>
                <string>{{1,449},{180,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kim_rotation_image_0021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,222}</string>
                <key>spriteSourceSize</key>
                <string>{180,222}</string>
                <key>textureRect</key>
                <string>{{183,449},{180,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kim_rotation_image_0022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,222}</string>
                <key>spriteSourceSize</key>
                <string>{180,222}</string>
                <key>textureRect</key>
                <string>{{365,449},{180,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kim_rotation_image_0023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,222}</string>
                <key>spriteSourceSize</key>
                <string>{180,222}</string>
                <key>textureRect</key>
                <string>{{547,449},{180,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kim_rotation_image_0024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,222}</string>
                <key>spriteSourceSize</key>
                <string>{180,222}</string>
                <key>textureRect</key>
                <string>{{729,449},{180,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kim_rotation_image_0025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,222}</string>
                <key>spriteSourceSize</key>
                <string>{180,222}</string>
                <key>textureRect</key>
                <string>{{911,449},{180,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kim_rotation_image_0026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,222}</string>
                <key>spriteSourceSize</key>
                <string>{180,222}</string>
                <key>textureRect</key>
                <string>{{1093,449},{180,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kim_rotation_image_0027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,222}</string>
                <key>spriteSourceSize</key>
                <string>{180,222}</string>
                <key>textureRect</key>
                <string>{{1275,449},{180,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kim_rotation_image_0028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,222}</string>
                <key>spriteSourceSize</key>
                <string>{180,222}</string>
                <key>textureRect</key>
                <string>{{1457,449},{180,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kim_rotation_image_0029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,222}</string>
                <key>spriteSourceSize</key>
                <string>{180,222}</string>
                <key>textureRect</key>
                <string>{{1639,449},{180,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kim_rotation_image_0030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,222}</string>
                <key>spriteSourceSize</key>
                <string>{180,222}</string>
                <key>textureRect</key>
                <string>{{1,673},{180,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kim_rotation_image_0031.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,222}</string>
                <key>spriteSourceSize</key>
                <string>{180,222}</string>
                <key>textureRect</key>
                <string>{{183,673},{180,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kim_rotation_image_0032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,222}</string>
                <key>spriteSourceSize</key>
                <string>{180,222}</string>
                <key>textureRect</key>
                <string>{{365,673},{180,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kim_rotation_image_0033.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,222}</string>
                <key>spriteSourceSize</key>
                <string>{180,222}</string>
                <key>textureRect</key>
                <string>{{547,673},{180,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kim_rotation_image_0034.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,222}</string>
                <key>spriteSourceSize</key>
                <string>{180,222}</string>
                <key>textureRect</key>
                <string>{{729,673},{180,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kim_rotation_image_0035.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,222}</string>
                <key>spriteSourceSize</key>
                <string>{180,222}</string>
                <key>textureRect</key>
                <string>{{911,673},{180,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kim_rotation_image_0036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,222}</string>
                <key>spriteSourceSize</key>
                <string>{180,222}</string>
                <key>textureRect</key>
                <string>{{1093,673},{180,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kim_rotation_image_0037.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,222}</string>
                <key>spriteSourceSize</key>
                <string>{180,222}</string>
                <key>textureRect</key>
                <string>{{1275,673},{180,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kim_rotation_image_0038.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,222}</string>
                <key>spriteSourceSize</key>
                <string>{180,222}</string>
                <key>textureRect</key>
                <string>{{1457,673},{180,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kim_rotation_image_0039.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,222}</string>
                <key>spriteSourceSize</key>
                <string>{180,222}</string>
                <key>textureRect</key>
                <string>{{1639,673},{180,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kim_rotation_image_0040.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,222}</string>
                <key>spriteSourceSize</key>
                <string>{180,222}</string>
                <key>textureRect</key>
                <string>{{1,897},{180,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kim_rotation_image_0041.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,222}</string>
                <key>spriteSourceSize</key>
                <string>{180,222}</string>
                <key>textureRect</key>
                <string>{{183,897},{180,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kim_rotation_image_0042.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,222}</string>
                <key>spriteSourceSize</key>
                <string>{180,222}</string>
                <key>textureRect</key>
                <string>{{365,897},{180,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kim_rotation_image_0043.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,222}</string>
                <key>spriteSourceSize</key>
                <string>{180,222}</string>
                <key>textureRect</key>
                <string>{{547,897},{180,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kim_rotation_image_0044.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,222}</string>
                <key>spriteSourceSize</key>
                <string>{180,222}</string>
                <key>textureRect</key>
                <string>{{729,897},{180,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kim_rotation_image_0045.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,222}</string>
                <key>spriteSourceSize</key>
                <string>{180,222}</string>
                <key>textureRect</key>
                <string>{{911,897},{180,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kim_rotation_image_0046.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,222}</string>
                <key>spriteSourceSize</key>
                <string>{180,222}</string>
                <key>textureRect</key>
                <string>{{1093,897},{180,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kim_rotation_image_0047.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,222}</string>
                <key>spriteSourceSize</key>
                <string>{180,222}</string>
                <key>textureRect</key>
                <string>{{1275,897},{180,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>KimRotate-0.png</string>
            <key>size</key>
            <string>{1820,1120}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4ab1dcc0015b0bf194b7a2a6bb6513d6:413a9fa96bb4c33c518297d1f39d4cd8:413bc2fb7601c623b496510d13a92e6b$</string>
            <key>textureFileName</key>
            <string>KimRotate-0.png</string>
        </dict>
    </dict>
</plist>
