<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Putin-Strength-D00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{1,1},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Putin-Strength-D00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{196,1},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Putin-Strength-D00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{391,1},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Putin-Strength-D00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{586,1},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Putin-Strength-D00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{781,1},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Putin-Strength-D00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{976,1},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Putin-Strength-D00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{1171,1},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Putin-Strength-D00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{1366,1},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Putin-Strength-D00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{1561,1},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Putin-Strength-D00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{1756,1},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Putin-Strength-D00011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{1,258},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Putin-Strength-D00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{196,258},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Putin-Strength-D00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{391,258},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Putin-Strength-D00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{586,258},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Putin-Strength-D00015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{781,258},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Putin-Strength-D00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{976,258},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Putin-Strength-D00017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{1171,258},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Putin-Strength-D00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{1366,258},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Putin-Strength-D00019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{1561,258},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Putin-Strength-D00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{1756,258},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Putin-Strength-D00021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{1,515},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Putin-Strength-D00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{196,515},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Putin-Strength-D00023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{391,515},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Putin-Strength-D00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{586,515},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Putin-Strength-D00025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{781,515},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Putin-Strength-D00026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{976,515},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Putin-Strength-D00027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{1171,515},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Putin-Strength-D00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{1366,515},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Putin-Strength-D00029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{1561,515},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Putin-Strength-D00030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{1756,515},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Putin-Strength-D00031.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{1,772},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Putin-Strength-D00032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{196,772},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Putin-Strength-D00033.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{391,772},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Putin-Strength-D00034.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{586,772},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Putin-Strength-D00035.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{781,772},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Putin-Strength-D00036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{976,772},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Putin-Strength-D00037.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{1171,772},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Putin-Strength-D00038.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{1366,772},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Putin-Strength-D00039.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{1561,772},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Putin-Strength-D00040.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{1756,772},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Putin-Strength-D00041.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{1,1029},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Putin-Strength-D00042.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{196,1029},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Putin-Strength-D00043.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{391,1029},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Putin-Strength-D00044.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{586,1029},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Putin-Strength-D00045.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{781,1029},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Putin-Strength-D00046.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{976,1029},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Putin-Strength-D00047.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{1171,1029},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Putin-Strength-D00048.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{1366,1029},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Putin-Strength-D00049.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{1561,1029},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Putin-Strength-D00050.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{1756,1029},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Putin-Strength-D00051.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{1,1286},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Putin-Strength-D00052.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{196,1286},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Putin-Strength-D00053.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{391,1286},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Putin-Strength-D00054.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{586,1286},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Putin-Strength-D00055.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{781,1286},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Putin-Strength-D00056.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{976,1286},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Putin-Strength-D00057.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{1171,1286},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Putin-Strength-D00058.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{1366,1286},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Putin-Strength-D00059.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{1561,1286},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Putin-Strength-D00060.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{1756,1286},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Putin-Strength-D00061.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{1,1543},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Putin-Strength-D00062.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{196,1543},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Putin-Strength-D00063.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{391,1543},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Putin-Strength-D00064.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{586,1543},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Putin-Strength-D00065.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{781,1543},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Putin-Strength-D00066.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{976,1543},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Putin-Strength-D00067.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{1171,1543},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Putin-Strength-D00068.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{1366,1543},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Putin-Strength-D00069.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{1561,1543},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Putin-Strength-D00070.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{1756,1543},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Putin-0.png</string>
            <key>size</key>
            <string>{1950,1799}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9458db7bb85271630bbb60aba6df0460:120e4c6eb951a6c8b473d2e2921ae73d:7d1553bd4bf3700a63dd024e9192c0be$</string>
            <key>textureFileName</key>
            <string>Putin-0.png</string>
        </dict>
    </dict>
</plist>
