<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>standard_gun_bow_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{284,360}</string>
                <key>spriteSourceSize</key>
                <string>{284,360}</string>
                <key>textureRect</key>
                <string>{{1,1},{284,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>standard_gun_bow_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{284,360}</string>
                <key>spriteSourceSize</key>
                <string>{284,360}</string>
                <key>textureRect</key>
                <string>{{287,1},{284,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>standard_gun_bow_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{284,360}</string>
                <key>spriteSourceSize</key>
                <string>{284,360}</string>
                <key>textureRect</key>
                <string>{{573,1},{284,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>standard_gun_bow_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{284,360}</string>
                <key>spriteSourceSize</key>
                <string>{284,360}</string>
                <key>textureRect</key>
                <string>{{859,1},{284,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>standard_gun_bow_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{284,360}</string>
                <key>spriteSourceSize</key>
                <string>{284,360}</string>
                <key>textureRect</key>
                <string>{{1145,1},{284,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>standard_gun_bow_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{284,360}</string>
                <key>spriteSourceSize</key>
                <string>{284,360}</string>
                <key>textureRect</key>
                <string>{{1431,1},{284,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>standard_gun_bow_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{284,360}</string>
                <key>spriteSourceSize</key>
                <string>{284,360}</string>
                <key>textureRect</key>
                <string>{{1717,1},{284,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>standard_gun_bow_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{284,360}</string>
                <key>spriteSourceSize</key>
                <string>{284,360}</string>
                <key>textureRect</key>
                <string>{{1,363},{284,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>standard_gun_bow_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{284,360}</string>
                <key>spriteSourceSize</key>
                <string>{284,360}</string>
                <key>textureRect</key>
                <string>{{287,363},{284,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>standard_gun_bow_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{284,360}</string>
                <key>spriteSourceSize</key>
                <string>{284,360}</string>
                <key>textureRect</key>
                <string>{{573,363},{284,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>standard_gun_bow_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{284,360}</string>
                <key>spriteSourceSize</key>
                <string>{284,360}</string>
                <key>textureRect</key>
                <string>{{859,363},{284,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>standard_gun_bow_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{284,360}</string>
                <key>spriteSourceSize</key>
                <string>{284,360}</string>
                <key>textureRect</key>
                <string>{{1145,363},{284,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>standard_gun_bow_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{284,360}</string>
                <key>spriteSourceSize</key>
                <string>{284,360}</string>
                <key>textureRect</key>
                <string>{{1431,363},{284,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>standard_gun_bow_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{284,360}</string>
                <key>spriteSourceSize</key>
                <string>{284,360}</string>
                <key>textureRect</key>
                <string>{{1717,363},{284,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>standard_gun_bow_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{284,360}</string>
                <key>spriteSourceSize</key>
                <string>{284,360}</string>
                <key>textureRect</key>
                <string>{{1,725},{284,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>standard_gun_bow_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{284,360}</string>
                <key>spriteSourceSize</key>
                <string>{284,360}</string>
                <key>textureRect</key>
                <string>{{287,725},{284,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>standard_gun_bow_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{284,360}</string>
                <key>spriteSourceSize</key>
                <string>{284,360}</string>
                <key>textureRect</key>
                <string>{{573,725},{284,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>standard_gun_bow_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{284,360}</string>
                <key>spriteSourceSize</key>
                <string>{284,360}</string>
                <key>textureRect</key>
                <string>{{859,725},{284,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>standard_gun_bow_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{284,360}</string>
                <key>spriteSourceSize</key>
                <string>{284,360}</string>
                <key>textureRect</key>
                <string>{{1145,725},{284,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>standard_gun_bow_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{284,360}</string>
                <key>spriteSourceSize</key>
                <string>{284,360}</string>
                <key>textureRect</key>
                <string>{{1431,725},{284,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>standard_gun_bow_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{284,360}</string>
                <key>spriteSourceSize</key>
                <string>{284,360}</string>
                <key>textureRect</key>
                <string>{{1717,725},{284,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>standard_gun_bow_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{284,360}</string>
                <key>spriteSourceSize</key>
                <string>{284,360}</string>
                <key>textureRect</key>
                <string>{{1,1087},{284,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>standard_gun_bow_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{284,360}</string>
                <key>spriteSourceSize</key>
                <string>{284,360}</string>
                <key>textureRect</key>
                <string>{{287,1087},{284,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>standard_gun_bow_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{284,360}</string>
                <key>spriteSourceSize</key>
                <string>{284,360}</string>
                <key>textureRect</key>
                <string>{{573,1087},{284,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>standard_gun_bow_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{284,360}</string>
                <key>spriteSourceSize</key>
                <string>{284,360}</string>
                <key>textureRect</key>
                <string>{{859,1087},{284,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>standard_gun_bow_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{284,360}</string>
                <key>spriteSourceSize</key>
                <string>{284,360}</string>
                <key>textureRect</key>
                <string>{{1145,1087},{284,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>standard_gun_bow_27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{284,360}</string>
                <key>spriteSourceSize</key>
                <string>{284,360}</string>
                <key>textureRect</key>
                <string>{{1431,1087},{284,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>standard_gun_bow_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{284,360}</string>
                <key>spriteSourceSize</key>
                <string>{284,360}</string>
                <key>textureRect</key>
                <string>{{1717,1087},{284,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>standard_gun_bow_29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{284,360}</string>
                <key>spriteSourceSize</key>
                <string>{284,360}</string>
                <key>textureRect</key>
                <string>{{1,1449},{284,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>standard_gun_bow_30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{284,360}</string>
                <key>spriteSourceSize</key>
                <string>{284,360}</string>
                <key>textureRect</key>
                <string>{{287,1449},{284,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>standard_gun_bow_31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{284,360}</string>
                <key>spriteSourceSize</key>
                <string>{284,360}</string>
                <key>textureRect</key>
                <string>{{573,1449},{284,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>standard_gun_bow_32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{284,360}</string>
                <key>spriteSourceSize</key>
                <string>{284,360}</string>
                <key>textureRect</key>
                <string>{{859,1449},{284,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>standard_gun_bow_33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{284,360}</string>
                <key>spriteSourceSize</key>
                <string>{284,360}</string>
                <key>textureRect</key>
                <string>{{1145,1449},{284,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>standard_gun_bow_34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{284,360}</string>
                <key>spriteSourceSize</key>
                <string>{284,360}</string>
                <key>textureRect</key>
                <string>{{1431,1449},{284,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>standard_gun_bow_35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{284,360}</string>
                <key>spriteSourceSize</key>
                <string>{284,360}</string>
                <key>textureRect</key>
                <string>{{1717,1449},{284,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>StandardBow-0.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:af89aca9c2c0f5f5796ac695b95b9bce:dff6cf48cfd39d85a9717d968d4e1707:21884f7550b755bf261c3788df3c8835$</string>
            <key>textureFileName</key>
            <string>StandardBow-0.png</string>
        </dict>
    </dict>
</plist>
