<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Alien-C-5_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{1,1},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{196,1},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{391,1},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{586,1},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{781,1},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{976,1},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{1171,1},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{1366,1},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{1561,1},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{1756,1},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{1,258},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{196,258},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{391,258},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{586,258},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{781,258},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{976,258},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{1171,258},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{1366,258},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{1561,258},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{1756,258},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{1,515},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{196,515},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{391,515},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{586,515},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{781,515},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{976,515},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{1171,515},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{1366,515},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{1561,515},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{1756,515},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00031.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{1,772},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{196,772},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00033.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{391,772},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00034.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{586,772},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00035.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{781,772},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{976,772},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00037.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{1171,772},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00038.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{1366,772},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00039.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{1561,772},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00040.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{1756,772},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00041.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{1,1029},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00042.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{196,1029},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00043.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{391,1029},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00044.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{586,1029},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00045.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{781,1029},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00046.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{976,1029},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00047.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{1171,1029},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00048.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{1366,1029},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00049.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{1561,1029},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00050.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{1756,1029},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00051.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{1,1286},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00052.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{196,1286},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00053.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{391,1286},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00054.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{586,1286},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00055.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{781,1286},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00056.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{976,1286},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00057.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{1171,1286},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00058.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{1366,1286},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00059.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{1561,1286},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00060.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{1756,1286},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00061.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{1,1543},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00062.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{196,1543},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00063.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{391,1543},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00064.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{586,1543},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00065.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{781,1543},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00066.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{976,1543},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00067.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{1171,1543},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00068.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{1366,1543},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00069.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{1561,1543},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00070.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{1756,1543},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Alien-0.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f4ee623e3564f978ec4d241655733174:6d540b0d08ffeaa685b3d65a94b81e09:f97d3b0bfc20f73f779915c9ddf6aed8$</string>
            <key>textureFileName</key>
            <string>Alien-0.png</string>
        </dict>
    </dict>
</plist>
