<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Alien-C-5_00211.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{1,1},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00212.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{196,1},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00213.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{391,1},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00214.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{586,1},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00215.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{781,1},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00216.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{976,1},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00217.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{1171,1},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00218.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{1366,1},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00219.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{1561,1},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00220.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{1756,1},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00221.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{1,258},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00222.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{196,258},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00223.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{391,258},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00224.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{586,258},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00225.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{781,258},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00226.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{976,258},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00227.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{1171,258},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00228.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{1366,258},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00229.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{1561,258},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00230.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{1756,258},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00231.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{1,515},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00232.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{196,515},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00233.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{391,515},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00234.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{586,515},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00235.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{781,515},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00236.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{976,515},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00237.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{1171,515},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00238.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{1366,515},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00239.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{1561,515},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00240.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{1756,515},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00241.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{1,772},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00242.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{196,772},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00243.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{391,772},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00244.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{586,772},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00245.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{781,772},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00246.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{976,772},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00247.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{1171,772},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00248.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{1366,772},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00249.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{1561,772},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00250.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{1756,772},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00251.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{1,1029},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00252.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{196,1029},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00253.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{391,1029},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00254.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{586,1029},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00255.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{781,1029},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00256.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{976,1029},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00257.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{1171,1029},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00258.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{1366,1029},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00259.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{1561,1029},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00260.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{1756,1029},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00261.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{1,1286},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00262.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{196,1286},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00263.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{391,1286},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00264.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{586,1286},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00265.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{781,1286},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00266.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{976,1286},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00267.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{1171,1286},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00268.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{1366,1286},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00269.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{1561,1286},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00270.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{1756,1286},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00271.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{1,1543},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00272.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{196,1543},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00273.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{391,1543},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00274.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{586,1543},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00275.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{781,1543},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00276.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{976,1543},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00277.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{1171,1543},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00278.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{1366,1543},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00279.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{1561,1543},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00280.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{1756,1543},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Alien-3.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f4ee623e3564f978ec4d241655733174:6d540b0d08ffeaa685b3d65a94b81e09:f97d3b0bfc20f73f779915c9ddf6aed8$</string>
            <key>textureFileName</key>
            <string>Alien-3.png</string>
        </dict>
    </dict>
</plist>
