<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Alien-C-5_00071.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{1,1},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00072.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{196,1},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00073.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{391,1},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00074.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{586,1},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00075.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{781,1},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00076.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{976,1},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00077.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{1171,1},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00078.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{1366,1},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00079.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{1561,1},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00080.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{1756,1},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00081.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{1,258},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00082.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{196,258},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00083.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{391,258},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00084.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{586,258},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00085.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{781,258},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00086.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{976,258},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00087.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{1171,258},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00088.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{1366,258},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00089.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{1561,258},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00090.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{1756,258},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00091.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{1,515},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00092.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{196,515},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00093.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{391,515},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00094.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{586,515},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00095.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{781,515},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00096.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{976,515},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00097.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{1171,515},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00098.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{1366,515},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00099.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{1561,515},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00100.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{1756,515},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{1,772},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00102.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{196,772},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00103.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{391,772},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00104.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{586,772},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00105.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{781,772},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00106.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{976,772},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00107.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{1171,772},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00108.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{1366,772},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00109.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{1561,772},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00110.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{1756,772},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00111.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{1,1029},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00112.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{196,1029},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00113.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{391,1029},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00114.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{586,1029},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00115.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{781,1029},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00116.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{976,1029},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00117.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{1171,1029},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00118.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{1366,1029},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00119.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{1561,1029},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00120.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{1756,1029},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00121.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{1,1286},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00122.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{196,1286},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00123.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{391,1286},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00124.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{586,1286},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00125.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{781,1286},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00126.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{976,1286},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00127.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{1171,1286},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00128.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{1366,1286},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00129.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{1561,1286},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00130.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{1756,1286},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00131.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{1,1543},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00132.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{196,1543},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00133.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{391,1543},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00134.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{586,1543},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00135.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{781,1543},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00136.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{976,1543},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00137.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{1171,1543},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00138.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{1366,1543},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00139.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{1561,1543},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alien-C-5_00140.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,255}</string>
                <key>spriteSourceSize</key>
                <string>{193,255}</string>
                <key>textureRect</key>
                <string>{{1756,1543},{193,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Alien-1.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f4ee623e3564f978ec4d241655733174:6d540b0d08ffeaa685b3d65a94b81e09:f97d3b0bfc20f73f779915c9ddf6aed8$</string>
            <key>textureFileName</key>
            <string>Alien-1.png</string>
        </dict>
    </dict>
</plist>
