<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>compact-sprayer_bow_36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{284,360}</string>
                <key>spriteSourceSize</key>
                <string>{284,360}</string>
                <key>textureRect</key>
                <string>{{1,1},{284,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>compact-sprayer_bow_37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{284,360}</string>
                <key>spriteSourceSize</key>
                <string>{284,360}</string>
                <key>textureRect</key>
                <string>{{287,1},{284,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>compact-sprayer_bow_38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{284,360}</string>
                <key>spriteSourceSize</key>
                <string>{284,360}</string>
                <key>textureRect</key>
                <string>{{573,1},{284,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>compact-sprayer_bow_39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{284,360}</string>
                <key>spriteSourceSize</key>
                <string>{284,360}</string>
                <key>textureRect</key>
                <string>{{859,1},{284,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>compact-sprayer_bow_40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{284,360}</string>
                <key>spriteSourceSize</key>
                <string>{284,360}</string>
                <key>textureRect</key>
                <string>{{1145,1},{284,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>compact-sprayer_bow_41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{284,360}</string>
                <key>spriteSourceSize</key>
                <string>{284,360}</string>
                <key>textureRect</key>
                <string>{{1431,1},{284,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>compact-sprayer_bow_42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{284,360}</string>
                <key>spriteSourceSize</key>
                <string>{284,360}</string>
                <key>textureRect</key>
                <string>{{1717,1},{284,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>compact-sprayer_bow_43.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{284,360}</string>
                <key>spriteSourceSize</key>
                <string>{284,360}</string>
                <key>textureRect</key>
                <string>{{1,363},{284,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>compact-sprayer_bow_44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{284,360}</string>
                <key>spriteSourceSize</key>
                <string>{284,360}</string>
                <key>textureRect</key>
                <string>{{287,363},{284,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>compact-sprayer_bow_45.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{284,360}</string>
                <key>spriteSourceSize</key>
                <string>{284,360}</string>
                <key>textureRect</key>
                <string>{{573,363},{284,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>compact-sprayer_bow_46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{284,360}</string>
                <key>spriteSourceSize</key>
                <string>{284,360}</string>
                <key>textureRect</key>
                <string>{{859,363},{284,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>compact-sprayer_bow_47.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{284,360}</string>
                <key>spriteSourceSize</key>
                <string>{284,360}</string>
                <key>textureRect</key>
                <string>{{1145,363},{284,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>compact-sprayer_bow_48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{284,360}</string>
                <key>spriteSourceSize</key>
                <string>{284,360}</string>
                <key>textureRect</key>
                <string>{{1431,363},{284,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>compact-sprayer_bow_49.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{284,360}</string>
                <key>spriteSourceSize</key>
                <string>{284,360}</string>
                <key>textureRect</key>
                <string>{{1717,363},{284,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>compact-sprayer_bow_50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{284,360}</string>
                <key>spriteSourceSize</key>
                <string>{284,360}</string>
                <key>textureRect</key>
                <string>{{1,725},{284,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>compact-sprayer_bow_51.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{284,360}</string>
                <key>spriteSourceSize</key>
                <string>{284,360}</string>
                <key>textureRect</key>
                <string>{{287,725},{284,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>compact-sprayer_bow_52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{284,360}</string>
                <key>spriteSourceSize</key>
                <string>{284,360}</string>
                <key>textureRect</key>
                <string>{{573,725},{284,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>compact-sprayer_bow_53.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{284,360}</string>
                <key>spriteSourceSize</key>
                <string>{284,360}</string>
                <key>textureRect</key>
                <string>{{859,725},{284,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>compact-sprayer_bow_54.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{284,360}</string>
                <key>spriteSourceSize</key>
                <string>{284,360}</string>
                <key>textureRect</key>
                <string>{{1145,725},{284,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>compact-sprayer_bow_55.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{284,360}</string>
                <key>spriteSourceSize</key>
                <string>{284,360}</string>
                <key>textureRect</key>
                <string>{{1431,725},{284,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>compact-sprayer_bow_56.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{284,360}</string>
                <key>spriteSourceSize</key>
                <string>{284,360}</string>
                <key>textureRect</key>
                <string>{{1717,725},{284,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>compact-sprayer_bow_57.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{284,360}</string>
                <key>spriteSourceSize</key>
                <string>{284,360}</string>
                <key>textureRect</key>
                <string>{{1,1087},{284,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>compact-sprayer_bow_58.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{284,360}</string>
                <key>spriteSourceSize</key>
                <string>{284,360}</string>
                <key>textureRect</key>
                <string>{{287,1087},{284,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>compact-sprayer_bow_59.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{284,360}</string>
                <key>spriteSourceSize</key>
                <string>{284,360}</string>
                <key>textureRect</key>
                <string>{{573,1087},{284,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>compact-sprayer_bow_60.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{284,360}</string>
                <key>spriteSourceSize</key>
                <string>{284,360}</string>
                <key>textureRect</key>
                <string>{{859,1087},{284,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>compact-sprayer_bow_61.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{284,360}</string>
                <key>spriteSourceSize</key>
                <string>{284,360}</string>
                <key>textureRect</key>
                <string>{{1145,1087},{284,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>compact-sprayer_bow_62.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{284,360}</string>
                <key>spriteSourceSize</key>
                <string>{284,360}</string>
                <key>textureRect</key>
                <string>{{1431,1087},{284,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>compact-sprayer_bow_63.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{284,360}</string>
                <key>spriteSourceSize</key>
                <string>{284,360}</string>
                <key>textureRect</key>
                <string>{{1717,1087},{284,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>CompactBow-1.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ecdec78cca2e6861a1e57643d4c85ebc:8552152ba059a935d0eee225c9290fa3:d5a32bb4132268303b86ed735ab1615e$</string>
            <key>textureFileName</key>
            <string>CompactBow-1.png</string>
        </dict>
    </dict>
</plist>
