<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>General_enemy_explosion00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,166}</string>
                <key>spriteSourceSize</key>
                <string>{161,166}</string>
                <key>textureRect</key>
                <string>{{1,1},{161,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>General_enemy_explosion01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,166}</string>
                <key>spriteSourceSize</key>
                <string>{161,166}</string>
                <key>textureRect</key>
                <string>{{164,1},{161,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>General_enemy_explosion02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,166}</string>
                <key>spriteSourceSize</key>
                <string>{161,166}</string>
                <key>textureRect</key>
                <string>{{327,1},{161,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>General_enemy_explosion03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,166}</string>
                <key>spriteSourceSize</key>
                <string>{161,166}</string>
                <key>textureRect</key>
                <string>{{1,169},{161,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>General_enemy_explosion04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,166}</string>
                <key>spriteSourceSize</key>
                <string>{161,166}</string>
                <key>textureRect</key>
                <string>{{164,169},{161,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>General_enemy_explosion05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,166}</string>
                <key>spriteSourceSize</key>
                <string>{161,166}</string>
                <key>textureRect</key>
                <string>{{327,169},{161,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>General_enemy_explosion06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,166}</string>
                <key>spriteSourceSize</key>
                <string>{161,166}</string>
                <key>textureRect</key>
                <string>{{1,337},{161,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>General_enemy_explosion07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,166}</string>
                <key>spriteSourceSize</key>
                <string>{161,166}</string>
                <key>textureRect</key>
                <string>{{164,337},{161,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>General_enemy_explosion08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,166}</string>
                <key>spriteSourceSize</key>
                <string>{161,166}</string>
                <key>textureRect</key>
                <string>{{327,337},{161,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>General_enemy_explosion09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,166}</string>
                <key>spriteSourceSize</key>
                <string>{161,166}</string>
                <key>textureRect</key>
                <string>{{1,505},{161,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>General_enemy_explosion10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,166}</string>
                <key>spriteSourceSize</key>
                <string>{161,166}</string>
                <key>textureRect</key>
                <string>{{164,505},{161,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>General_enemy_explosion11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,166}</string>
                <key>spriteSourceSize</key>
                <string>{161,166}</string>
                <key>textureRect</key>
                <string>{{327,505},{161,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>General_enemy_explosion12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,166}</string>
                <key>spriteSourceSize</key>
                <string>{161,166}</string>
                <key>textureRect</key>
                <string>{{1,673},{161,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>General_enemy_explosion13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,166}</string>
                <key>spriteSourceSize</key>
                <string>{161,166}</string>
                <key>textureRect</key>
                <string>{{164,673},{161,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>General_enemy_explosion14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,166}</string>
                <key>spriteSourceSize</key>
                <string>{161,166}</string>
                <key>textureRect</key>
                <string>{{327,673},{161,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>General_enemy_explosion15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,166}</string>
                <key>spriteSourceSize</key>
                <string>{161,166}</string>
                <key>textureRect</key>
                <string>{{1,841},{161,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>General_enemy_explosion16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,166}</string>
                <key>spriteSourceSize</key>
                <string>{161,166}</string>
                <key>textureRect</key>
                <string>{{164,841},{161,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>General_enemy_explosion17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,166}</string>
                <key>spriteSourceSize</key>
                <string>{161,166}</string>
                <key>textureRect</key>
                <string>{{327,841},{161,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>General_enemy_explosion18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,166}</string>
                <key>spriteSourceSize</key>
                <string>{161,166}</string>
                <key>textureRect</key>
                <string>{{1,1009},{161,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>General_enemy_explosion19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,166}</string>
                <key>spriteSourceSize</key>
                <string>{161,166}</string>
                <key>textureRect</key>
                <string>{{164,1009},{161,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>General_enemy_explosion20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,166}</string>
                <key>spriteSourceSize</key>
                <string>{161,166}</string>
                <key>textureRect</key>
                <string>{{327,1009},{161,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>General_enemy_explosion21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,166}</string>
                <key>spriteSourceSize</key>
                <string>{161,166}</string>
                <key>textureRect</key>
                <string>{{1,1177},{161,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>General_enemy_explosion22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,166}</string>
                <key>spriteSourceSize</key>
                <string>{161,166}</string>
                <key>textureRect</key>
                <string>{{164,1177},{161,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>General_enemy_explosion23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,166}</string>
                <key>spriteSourceSize</key>
                <string>{161,166}</string>
                <key>textureRect</key>
                <string>{{327,1177},{161,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>General_enemy_explosion24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,166}</string>
                <key>spriteSourceSize</key>
                <string>{161,166}</string>
                <key>textureRect</key>
                <string>{{1,1345},{161,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>General_enemy_explosion25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,166}</string>
                <key>spriteSourceSize</key>
                <string>{161,166}</string>
                <key>textureRect</key>
                <string>{{164,1345},{161,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>General_enemy_explosion26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,166}</string>
                <key>spriteSourceSize</key>
                <string>{161,166}</string>
                <key>textureRect</key>
                <string>{{327,1345},{161,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>General_enemy_explosion27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,166}</string>
                <key>spriteSourceSize</key>
                <string>{161,166}</string>
                <key>textureRect</key>
                <string>{{1,1513},{161,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>General_enemy_explosion28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,166}</string>
                <key>spriteSourceSize</key>
                <string>{161,166}</string>
                <key>textureRect</key>
                <string>{{164,1513},{161,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>General_enemy_explosion29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,166}</string>
                <key>spriteSourceSize</key>
                <string>{161,166}</string>
                <key>textureRect</key>
                <string>{{327,1513},{161,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>General_enemy_explosion-0.png</string>
            <key>size</key>
            <string>{489,1680}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b2bb8d8758bf9212db4c3a52aab5196f:3828c12705feb33b35c65b15eb3b55b1:09c5af736ac44c143559386883adc047$</string>
            <key>textureFileName</key>
            <string>General_enemy_explosion-0.png</string>
        </dict>
    </dict>
</plist>
