<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Kim-Strength-D00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,283}</string>
                <key>spriteSourceSize</key>
                <string>{214,283}</string>
                <key>textureRect</key>
                <string>{{1,1},{214,283}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kim-Strength-D00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,283}</string>
                <key>spriteSourceSize</key>
                <string>{214,283}</string>
                <key>textureRect</key>
                <string>{{1,286},{214,283}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kim-Strength-D00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,283}</string>
                <key>spriteSourceSize</key>
                <string>{214,283}</string>
                <key>textureRect</key>
                <string>{{1,571},{214,283}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kim-Strength-D00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,283}</string>
                <key>spriteSourceSize</key>
                <string>{214,283}</string>
                <key>textureRect</key>
                <string>{{1,856},{214,283}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kim-Strength-D00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,283}</string>
                <key>spriteSourceSize</key>
                <string>{214,283}</string>
                <key>textureRect</key>
                <string>{{1,1141},{214,283}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kim-Strength-D00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,283}</string>
                <key>spriteSourceSize</key>
                <string>{214,283}</string>
                <key>textureRect</key>
                <string>{{1,1426},{214,283}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kim-Strength-D00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,283}</string>
                <key>spriteSourceSize</key>
                <string>{214,283}</string>
                <key>textureRect</key>
                <string>{{1,1711},{214,283}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kim-Strength-D00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,283}</string>
                <key>spriteSourceSize</key>
                <string>{214,283}</string>
                <key>textureRect</key>
                <string>{{217,1},{214,283}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kim-Strength-D00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,283}</string>
                <key>spriteSourceSize</key>
                <string>{214,283}</string>
                <key>textureRect</key>
                <string>{{433,1},{214,283}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kim-Strength-D00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,283}</string>
                <key>spriteSourceSize</key>
                <string>{214,283}</string>
                <key>textureRect</key>
                <string>{{649,1},{214,283}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kim-Strength-D00011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,283}</string>
                <key>spriteSourceSize</key>
                <string>{214,283}</string>
                <key>textureRect</key>
                <string>{{865,1},{214,283}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kim-Strength-D00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,283}</string>
                <key>spriteSourceSize</key>
                <string>{214,283}</string>
                <key>textureRect</key>
                <string>{{1081,1},{214,283}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kim-Strength-D00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,283}</string>
                <key>spriteSourceSize</key>
                <string>{214,283}</string>
                <key>textureRect</key>
                <string>{{1297,1},{214,283}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kim-Strength-D00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,283}</string>
                <key>spriteSourceSize</key>
                <string>{214,283}</string>
                <key>textureRect</key>
                <string>{{1513,1},{214,283}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kim-Strength-D00015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,283}</string>
                <key>spriteSourceSize</key>
                <string>{214,283}</string>
                <key>textureRect</key>
                <string>{{1729,1},{214,283}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kim-Strength-D00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,283}</string>
                <key>spriteSourceSize</key>
                <string>{214,283}</string>
                <key>textureRect</key>
                <string>{{217,286},{214,283}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kim-Strength-D00017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,283}</string>
                <key>spriteSourceSize</key>
                <string>{214,283}</string>
                <key>textureRect</key>
                <string>{{217,571},{214,283}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kim-Strength-D00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,283}</string>
                <key>spriteSourceSize</key>
                <string>{214,283}</string>
                <key>textureRect</key>
                <string>{{217,856},{214,283}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kim-Strength-D00019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,283}</string>
                <key>spriteSourceSize</key>
                <string>{214,283}</string>
                <key>textureRect</key>
                <string>{{217,1141},{214,283}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kim-Strength-D00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,283}</string>
                <key>spriteSourceSize</key>
                <string>{214,283}</string>
                <key>textureRect</key>
                <string>{{217,1426},{214,283}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kim-Strength-D00021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,283}</string>
                <key>spriteSourceSize</key>
                <string>{214,283}</string>
                <key>textureRect</key>
                <string>{{217,1711},{214,283}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kim-Strength-D00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,283}</string>
                <key>spriteSourceSize</key>
                <string>{214,283}</string>
                <key>textureRect</key>
                <string>{{433,286},{214,283}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kim-Strength-D00023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,283}</string>
                <key>spriteSourceSize</key>
                <string>{214,283}</string>
                <key>textureRect</key>
                <string>{{649,286},{214,283}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kim-Strength-D00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,283}</string>
                <key>spriteSourceSize</key>
                <string>{214,283}</string>
                <key>textureRect</key>
                <string>{{865,286},{214,283}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kim-Strength-D00025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,283}</string>
                <key>spriteSourceSize</key>
                <string>{214,283}</string>
                <key>textureRect</key>
                <string>{{1081,286},{214,283}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kim-Strength-D00026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,283}</string>
                <key>spriteSourceSize</key>
                <string>{214,283}</string>
                <key>textureRect</key>
                <string>{{1297,286},{214,283}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kim-Strength-D00027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,283}</string>
                <key>spriteSourceSize</key>
                <string>{214,283}</string>
                <key>textureRect</key>
                <string>{{1513,286},{214,283}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kim-Strength-D00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,283}</string>
                <key>spriteSourceSize</key>
                <string>{214,283}</string>
                <key>textureRect</key>
                <string>{{1729,286},{214,283}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kim-Strength-D00029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,283}</string>
                <key>spriteSourceSize</key>
                <string>{214,283}</string>
                <key>textureRect</key>
                <string>{{433,571},{214,283}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kim-Strength-D00030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,283}</string>
                <key>spriteSourceSize</key>
                <string>{214,283}</string>
                <key>textureRect</key>
                <string>{{433,856},{214,283}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kim-Strength-D00031.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,283}</string>
                <key>spriteSourceSize</key>
                <string>{214,283}</string>
                <key>textureRect</key>
                <string>{{433,1141},{214,283}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kim-Strength-D00032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,283}</string>
                <key>spriteSourceSize</key>
                <string>{214,283}</string>
                <key>textureRect</key>
                <string>{{433,1426},{214,283}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kim-Strength-D00033.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,283}</string>
                <key>spriteSourceSize</key>
                <string>{214,283}</string>
                <key>textureRect</key>
                <string>{{433,1711},{214,283}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kim-Strength-D00034.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,283}</string>
                <key>spriteSourceSize</key>
                <string>{214,283}</string>
                <key>textureRect</key>
                <string>{{649,571},{214,283}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kim-Strength-D00035.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,283}</string>
                <key>spriteSourceSize</key>
                <string>{214,283}</string>
                <key>textureRect</key>
                <string>{{649,856},{214,283}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kim-Strength-D00036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,283}</string>
                <key>spriteSourceSize</key>
                <string>{214,283}</string>
                <key>textureRect</key>
                <string>{{649,1141},{214,283}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kim-Strength-D00037.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,283}</string>
                <key>spriteSourceSize</key>
                <string>{214,283}</string>
                <key>textureRect</key>
                <string>{{649,1426},{214,283}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kim-Strength-D00038.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,283}</string>
                <key>spriteSourceSize</key>
                <string>{214,283}</string>
                <key>textureRect</key>
                <string>{{649,1711},{214,283}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kim-Strength-D00039.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,283}</string>
                <key>spriteSourceSize</key>
                <string>{214,283}</string>
                <key>textureRect</key>
                <string>{{865,571},{214,283}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kim-Strength-D00040.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,283}</string>
                <key>spriteSourceSize</key>
                <string>{214,283}</string>
                <key>textureRect</key>
                <string>{{1081,571},{214,283}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kim-Strength-D00041.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,283}</string>
                <key>spriteSourceSize</key>
                <string>{214,283}</string>
                <key>textureRect</key>
                <string>{{1297,571},{214,283}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kim-Strength-D00042.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,283}</string>
                <key>spriteSourceSize</key>
                <string>{214,283}</string>
                <key>textureRect</key>
                <string>{{1513,571},{214,283}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kim-Strength-D00043.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,283}</string>
                <key>spriteSourceSize</key>
                <string>{214,283}</string>
                <key>textureRect</key>
                <string>{{1729,571},{214,283}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kim-Strength-D00044.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,283}</string>
                <key>spriteSourceSize</key>
                <string>{214,283}</string>
                <key>textureRect</key>
                <string>{{865,856},{214,283}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kim-Strength-D00045.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,283}</string>
                <key>spriteSourceSize</key>
                <string>{214,283}</string>
                <key>textureRect</key>
                <string>{{865,1141},{214,283}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kim-Strength-D00046.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,283}</string>
                <key>spriteSourceSize</key>
                <string>{214,283}</string>
                <key>textureRect</key>
                <string>{{865,1426},{214,283}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kim-Strength-D00047.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,283}</string>
                <key>spriteSourceSize</key>
                <string>{214,283}</string>
                <key>textureRect</key>
                <string>{{865,1711},{214,283}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kim-Strength-D00048.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,283}</string>
                <key>spriteSourceSize</key>
                <string>{214,283}</string>
                <key>textureRect</key>
                <string>{{1081,856},{214,283}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kim-Strength-D00049.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,283}</string>
                <key>spriteSourceSize</key>
                <string>{214,283}</string>
                <key>textureRect</key>
                <string>{{1297,856},{214,283}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kim-Strength-D00050.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,283}</string>
                <key>spriteSourceSize</key>
                <string>{214,283}</string>
                <key>textureRect</key>
                <string>{{1513,856},{214,283}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kim-Strength-D00051.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,283}</string>
                <key>spriteSourceSize</key>
                <string>{214,283}</string>
                <key>textureRect</key>
                <string>{{1729,856},{214,283}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kim-Strength-D00052.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,283}</string>
                <key>spriteSourceSize</key>
                <string>{214,283}</string>
                <key>textureRect</key>
                <string>{{1081,1141},{214,283}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kim-Strength-D00053.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,283}</string>
                <key>spriteSourceSize</key>
                <string>{214,283}</string>
                <key>textureRect</key>
                <string>{{1081,1426},{214,283}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kim-Strength-D00054.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,283}</string>
                <key>spriteSourceSize</key>
                <string>{214,283}</string>
                <key>textureRect</key>
                <string>{{1081,1711},{214,283}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kim-Strength-D00055.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,283}</string>
                <key>spriteSourceSize</key>
                <string>{214,283}</string>
                <key>textureRect</key>
                <string>{{1297,1141},{214,283}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kim-Strength-D00056.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,283}</string>
                <key>spriteSourceSize</key>
                <string>{214,283}</string>
                <key>textureRect</key>
                <string>{{1513,1141},{214,283}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kim-Strength-D00057.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,283}</string>
                <key>spriteSourceSize</key>
                <string>{214,283}</string>
                <key>textureRect</key>
                <string>{{1729,1141},{214,283}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kim-Strength-D00058.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,283}</string>
                <key>spriteSourceSize</key>
                <string>{214,283}</string>
                <key>textureRect</key>
                <string>{{1297,1426},{214,283}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kim-Strength-D00059.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,283}</string>
                <key>spriteSourceSize</key>
                <string>{214,283}</string>
                <key>textureRect</key>
                <string>{{1297,1711},{214,283}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kim-Strength-D00060.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,283}</string>
                <key>spriteSourceSize</key>
                <string>{214,283}</string>
                <key>textureRect</key>
                <string>{{1513,1426},{214,283}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kim-Strength-D00061.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,283}</string>
                <key>spriteSourceSize</key>
                <string>{214,283}</string>
                <key>textureRect</key>
                <string>{{1513,1711},{214,283}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kim-Strength-D00062.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,283}</string>
                <key>spriteSourceSize</key>
                <string>{214,283}</string>
                <key>textureRect</key>
                <string>{{1729,1426},{214,283}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kim-Strength-D00063.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,283}</string>
                <key>spriteSourceSize</key>
                <string>{214,283}</string>
                <key>textureRect</key>
                <string>{{1729,1711},{214,283}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Kim-0.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fd318afa163dd15d6af99aa58e44d5d2:5cecc07dbab005c8358c682871096b5b:9f2db6cf207359d2c4d3a1e1f20e4ff8$</string>
            <key>textureFileName</key>
            <string>Kim-0.png</string>
        </dict>
    </dict>
</plist>
