<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Kim-Strength-D00127.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,283}</string>
                <key>spriteSourceSize</key>
                <string>{214,283}</string>
                <key>textureRect</key>
                <string>{{1,1},{214,283}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kim-Strength-D00128.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,283}</string>
                <key>spriteSourceSize</key>
                <string>{214,283}</string>
                <key>textureRect</key>
                <string>{{1,286},{214,283}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kim-Strength-D00129.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,283}</string>
                <key>spriteSourceSize</key>
                <string>{214,283}</string>
                <key>textureRect</key>
                <string>{{1,571},{214,283}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Kim-2.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fd318afa163dd15d6af99aa58e44d5d2:5cecc07dbab005c8358c682871096b5b:9f2db6cf207359d2c4d3a1e1f20e4ff8$</string>
            <key>textureFileName</key>
            <string>Kim-2.png</string>
        </dict>
    </dict>
</plist>
