<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Hitler-Strength-E00078.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,269}</string>
                <key>spriteSourceSize</key>
                <string>{183,269}</string>
                <key>textureRect</key>
                <string>{{1,1},{183,269}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hitler-Strength-E00079.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,269}</string>
                <key>spriteSourceSize</key>
                <string>{183,269}</string>
                <key>textureRect</key>
                <string>{{186,1},{183,269}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hitler-Strength-E00080.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,269}</string>
                <key>spriteSourceSize</key>
                <string>{183,269}</string>
                <key>textureRect</key>
                <string>{{371,1},{183,269}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hitler-Strength-E00081.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,269}</string>
                <key>spriteSourceSize</key>
                <string>{183,269}</string>
                <key>textureRect</key>
                <string>{{556,1},{183,269}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hitler-Strength-E00082.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,269}</string>
                <key>spriteSourceSize</key>
                <string>{183,269}</string>
                <key>textureRect</key>
                <string>{{741,1},{183,269}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hitler-Strength-E00083.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,269}</string>
                <key>spriteSourceSize</key>
                <string>{183,269}</string>
                <key>textureRect</key>
                <string>{{926,1},{183,269}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hitler-Strength-E00084.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,269}</string>
                <key>spriteSourceSize</key>
                <string>{183,269}</string>
                <key>textureRect</key>
                <string>{{1111,1},{183,269}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hitler-Strength-E00085.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,269}</string>
                <key>spriteSourceSize</key>
                <string>{183,269}</string>
                <key>textureRect</key>
                <string>{{1296,1},{183,269}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hitler-Strength-E00086.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,269}</string>
                <key>spriteSourceSize</key>
                <string>{183,269}</string>
                <key>textureRect</key>
                <string>{{1481,1},{183,269}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hitler-Strength-E00087.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,269}</string>
                <key>spriteSourceSize</key>
                <string>{183,269}</string>
                <key>textureRect</key>
                <string>{{1666,1},{183,269}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hitler-Strength-E00088.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,269}</string>
                <key>spriteSourceSize</key>
                <string>{183,269}</string>
                <key>textureRect</key>
                <string>{{1851,1},{183,269}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hitler-Strength-E00089.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,269}</string>
                <key>spriteSourceSize</key>
                <string>{183,269}</string>
                <key>textureRect</key>
                <string>{{1,272},{183,269}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hitler-Strength-E00090.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,269}</string>
                <key>spriteSourceSize</key>
                <string>{183,269}</string>
                <key>textureRect</key>
                <string>{{186,272},{183,269}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hitler-Strength-E00091.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,269}</string>
                <key>spriteSourceSize</key>
                <string>{183,269}</string>
                <key>textureRect</key>
                <string>{{371,272},{183,269}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hitler-Strength-E00092.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,269}</string>
                <key>spriteSourceSize</key>
                <string>{183,269}</string>
                <key>textureRect</key>
                <string>{{556,272},{183,269}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hitler-Strength-E00093.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,269}</string>
                <key>spriteSourceSize</key>
                <string>{183,269}</string>
                <key>textureRect</key>
                <string>{{741,272},{183,269}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hitler-Strength-E00094.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,269}</string>
                <key>spriteSourceSize</key>
                <string>{183,269}</string>
                <key>textureRect</key>
                <string>{{926,272},{183,269}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hitler-Strength-E00095.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,269}</string>
                <key>spriteSourceSize</key>
                <string>{183,269}</string>
                <key>textureRect</key>
                <string>{{1111,272},{183,269}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hitler-Strength-E00096.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,269}</string>
                <key>spriteSourceSize</key>
                <string>{183,269}</string>
                <key>textureRect</key>
                <string>{{1296,272},{183,269}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hitler-Strength-E00097.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,269}</string>
                <key>spriteSourceSize</key>
                <string>{183,269}</string>
                <key>textureRect</key>
                <string>{{1481,272},{183,269}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hitler-Strength-E00098.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,269}</string>
                <key>spriteSourceSize</key>
                <string>{183,269}</string>
                <key>textureRect</key>
                <string>{{1666,272},{183,269}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hitler-Strength-E00099.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,269}</string>
                <key>spriteSourceSize</key>
                <string>{183,269}</string>
                <key>textureRect</key>
                <string>{{1851,272},{183,269}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hitler-Strength-E00100.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,269}</string>
                <key>spriteSourceSize</key>
                <string>{183,269}</string>
                <key>textureRect</key>
                <string>{{1,543},{183,269}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hitler-Strength-E00101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,269}</string>
                <key>spriteSourceSize</key>
                <string>{183,269}</string>
                <key>textureRect</key>
                <string>{{186,543},{183,269}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hitler-Strength-E00102.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,269}</string>
                <key>spriteSourceSize</key>
                <string>{183,269}</string>
                <key>textureRect</key>
                <string>{{371,543},{183,269}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hitler-Strength-E00103.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,269}</string>
                <key>spriteSourceSize</key>
                <string>{183,269}</string>
                <key>textureRect</key>
                <string>{{556,543},{183,269}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hitler-Strength-E00104.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,269}</string>
                <key>spriteSourceSize</key>
                <string>{183,269}</string>
                <key>textureRect</key>
                <string>{{741,543},{183,269}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hitler-Strength-E00105.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,269}</string>
                <key>spriteSourceSize</key>
                <string>{183,269}</string>
                <key>textureRect</key>
                <string>{{926,543},{183,269}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hitler-Strength-E00106.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,269}</string>
                <key>spriteSourceSize</key>
                <string>{183,269}</string>
                <key>textureRect</key>
                <string>{{1111,543},{183,269}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hitler-Strength-E00107.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,269}</string>
                <key>spriteSourceSize</key>
                <string>{183,269}</string>
                <key>textureRect</key>
                <string>{{1296,543},{183,269}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hitler-Strength-E00108.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,269}</string>
                <key>spriteSourceSize</key>
                <string>{183,269}</string>
                <key>textureRect</key>
                <string>{{1481,543},{183,269}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hitler-Strength-E00109.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,269}</string>
                <key>spriteSourceSize</key>
                <string>{183,269}</string>
                <key>textureRect</key>
                <string>{{1666,543},{183,269}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hitler-Strength-E00110.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,269}</string>
                <key>spriteSourceSize</key>
                <string>{183,269}</string>
                <key>textureRect</key>
                <string>{{1851,543},{183,269}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Adolf-1.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:976a9119a900ede13217c7f64710c487:ff1f8cd76b3279d0592c84952e653575:e705d4ace5604e97e6c8800c9ff3c822$</string>
            <key>textureFileName</key>
            <string>Adolf-1.png</string>
        </dict>
    </dict>
</plist>
