<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>General_cannon_explosion_54.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{221,320}</string>
                <key>spriteSourceSize</key>
                <string>{221,320}</string>
                <key>textureRect</key>
                <string>{{1,1},{221,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>General_cannon_explosion_55.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{221,320}</string>
                <key>spriteSourceSize</key>
                <string>{221,320}</string>
                <key>textureRect</key>
                <string>{{224,1},{221,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>General_cannon_explosion_56.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{221,320}</string>
                <key>spriteSourceSize</key>
                <string>{221,320}</string>
                <key>textureRect</key>
                <string>{{447,1},{221,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>General_cannon_explosion_57.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{221,320}</string>
                <key>spriteSourceSize</key>
                <string>{221,320}</string>
                <key>textureRect</key>
                <string>{{670,1},{221,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>General_cannon_explosion_58.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{221,320}</string>
                <key>spriteSourceSize</key>
                <string>{221,320}</string>
                <key>textureRect</key>
                <string>{{1,323},{221,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>General_cannon_explosion_59.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{221,320}</string>
                <key>spriteSourceSize</key>
                <string>{221,320}</string>
                <key>textureRect</key>
                <string>{{224,323},{221,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>General_cannon_explosion_60.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{221,320}</string>
                <key>spriteSourceSize</key>
                <string>{221,320}</string>
                <key>textureRect</key>
                <string>{{447,323},{221,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>General_cannon_explosion_61.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{221,320}</string>
                <key>spriteSourceSize</key>
                <string>{221,320}</string>
                <key>textureRect</key>
                <string>{{670,323},{221,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>General_cannon_explosion_62.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{221,320}</string>
                <key>spriteSourceSize</key>
                <string>{221,320}</string>
                <key>textureRect</key>
                <string>{{1,645},{221,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>General_cannon_explosion_63.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{221,320}</string>
                <key>spriteSourceSize</key>
                <string>{221,320}</string>
                <key>textureRect</key>
                <string>{{224,645},{221,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>General_cannon_explosion_64.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{221,320}</string>
                <key>spriteSourceSize</key>
                <string>{221,320}</string>
                <key>textureRect</key>
                <string>{{447,645},{221,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>General_cannon_explosion_65.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{221,320}</string>
                <key>spriteSourceSize</key>
                <string>{221,320}</string>
                <key>textureRect</key>
                <string>{{670,645},{221,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>General_cannon_explosion_66.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{221,320}</string>
                <key>spriteSourceSize</key>
                <string>{221,320}</string>
                <key>textureRect</key>
                <string>{{1,967},{221,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>General_cannon_explosion_67.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{221,320}</string>
                <key>spriteSourceSize</key>
                <string>{221,320}</string>
                <key>textureRect</key>
                <string>{{224,967},{221,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>General_cannon_explosion_68.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{221,320}</string>
                <key>spriteSourceSize</key>
                <string>{221,320}</string>
                <key>textureRect</key>
                <string>{{447,967},{221,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>General_cannon_explosion_69.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{221,320}</string>
                <key>spriteSourceSize</key>
                <string>{221,320}</string>
                <key>textureRect</key>
                <string>{{670,967},{221,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>General_cannon_explosion_70.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{221,320}</string>
                <key>spriteSourceSize</key>
                <string>{221,320}</string>
                <key>textureRect</key>
                <string>{{1,1289},{221,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>General_cannon_explosion_71.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{221,320}</string>
                <key>spriteSourceSize</key>
                <string>{221,320}</string>
                <key>textureRect</key>
                <string>{{224,1289},{221,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>General_cannon_explosion_72.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{221,320}</string>
                <key>spriteSourceSize</key>
                <string>{221,320}</string>
                <key>textureRect</key>
                <string>{{447,1289},{221,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>General_cannon_explosion-1.png</string>
            <key>size</key>
            <string>{892,1610}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9d84808c73cecba55ddc62d311f739df:b2dbc49fa7e8a416e4ae986f784c0e43:275567353724fb27ac23fe02c7c86d1d$</string>
            <key>textureFileName</key>
            <string>General_cannon_explosion-1.png</string>
        </dict>
    </dict>
</plist>
