<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Kim-Strength-D00064.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,283}</string>
                <key>spriteSourceSize</key>
                <string>{214,283}</string>
                <key>textureRect</key>
                <string>{{1,1},{214,283}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kim-Strength-D00065.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,283}</string>
                <key>spriteSourceSize</key>
                <string>{214,283}</string>
                <key>textureRect</key>
                <string>{{1,286},{214,283}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kim-Strength-D00066.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,283}</string>
                <key>spriteSourceSize</key>
                <string>{214,283}</string>
                <key>textureRect</key>
                <string>{{1,571},{214,283}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kim-Strength-D00067.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,283}</string>
                <key>spriteSourceSize</key>
                <string>{214,283}</string>
                <key>textureRect</key>
                <string>{{1,856},{214,283}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kim-Strength-D00068.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,283}</string>
                <key>spriteSourceSize</key>
                <string>{214,283}</string>
                <key>textureRect</key>
                <string>{{1,1141},{214,283}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kim-Strength-D00069.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,283}</string>
                <key>spriteSourceSize</key>
                <string>{214,283}</string>
                <key>textureRect</key>
                <string>{{1,1426},{214,283}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kim-Strength-D00070.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,283}</string>
                <key>spriteSourceSize</key>
                <string>{214,283}</string>
                <key>textureRect</key>
                <string>{{1,1711},{214,283}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kim-Strength-D00071.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,283}</string>
                <key>spriteSourceSize</key>
                <string>{214,283}</string>
                <key>textureRect</key>
                <string>{{217,1},{214,283}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kim-Strength-D00072.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,283}</string>
                <key>spriteSourceSize</key>
                <string>{214,283}</string>
                <key>textureRect</key>
                <string>{{433,1},{214,283}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kim-Strength-D00073.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,283}</string>
                <key>spriteSourceSize</key>
                <string>{214,283}</string>
                <key>textureRect</key>
                <string>{{649,1},{214,283}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kim-Strength-D00074.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,283}</string>
                <key>spriteSourceSize</key>
                <string>{214,283}</string>
                <key>textureRect</key>
                <string>{{865,1},{214,283}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kim-Strength-D00075.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,283}</string>
                <key>spriteSourceSize</key>
                <string>{214,283}</string>
                <key>textureRect</key>
                <string>{{1081,1},{214,283}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kim-Strength-D00076.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,283}</string>
                <key>spriteSourceSize</key>
                <string>{214,283}</string>
                <key>textureRect</key>
                <string>{{1297,1},{214,283}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kim-Strength-D00077.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,283}</string>
                <key>spriteSourceSize</key>
                <string>{214,283}</string>
                <key>textureRect</key>
                <string>{{1513,1},{214,283}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kim-Strength-D00078.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,283}</string>
                <key>spriteSourceSize</key>
                <string>{214,283}</string>
                <key>textureRect</key>
                <string>{{1729,1},{214,283}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kim-Strength-D00079.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,283}</string>
                <key>spriteSourceSize</key>
                <string>{214,283}</string>
                <key>textureRect</key>
                <string>{{217,286},{214,283}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kim-Strength-D00080.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,283}</string>
                <key>spriteSourceSize</key>
                <string>{214,283}</string>
                <key>textureRect</key>
                <string>{{217,571},{214,283}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kim-Strength-D00081.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,283}</string>
                <key>spriteSourceSize</key>
                <string>{214,283}</string>
                <key>textureRect</key>
                <string>{{217,856},{214,283}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kim-Strength-D00082.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,283}</string>
                <key>spriteSourceSize</key>
                <string>{214,283}</string>
                <key>textureRect</key>
                <string>{{217,1141},{214,283}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kim-Strength-D00083.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,283}</string>
                <key>spriteSourceSize</key>
                <string>{214,283}</string>
                <key>textureRect</key>
                <string>{{217,1426},{214,283}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kim-Strength-D00084.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,283}</string>
                <key>spriteSourceSize</key>
                <string>{214,283}</string>
                <key>textureRect</key>
                <string>{{217,1711},{214,283}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kim-Strength-D00085.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,283}</string>
                <key>spriteSourceSize</key>
                <string>{214,283}</string>
                <key>textureRect</key>
                <string>{{433,286},{214,283}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kim-Strength-D00086.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,283}</string>
                <key>spriteSourceSize</key>
                <string>{214,283}</string>
                <key>textureRect</key>
                <string>{{649,286},{214,283}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kim-Strength-D00087.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,283}</string>
                <key>spriteSourceSize</key>
                <string>{214,283}</string>
                <key>textureRect</key>
                <string>{{865,286},{214,283}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kim-Strength-D00088.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,283}</string>
                <key>spriteSourceSize</key>
                <string>{214,283}</string>
                <key>textureRect</key>
                <string>{{1081,286},{214,283}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kim-Strength-D00089.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,283}</string>
                <key>spriteSourceSize</key>
                <string>{214,283}</string>
                <key>textureRect</key>
                <string>{{1297,286},{214,283}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kim-Strength-D00090.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,283}</string>
                <key>spriteSourceSize</key>
                <string>{214,283}</string>
                <key>textureRect</key>
                <string>{{1513,286},{214,283}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kim-Strength-D00091.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,283}</string>
                <key>spriteSourceSize</key>
                <string>{214,283}</string>
                <key>textureRect</key>
                <string>{{1729,286},{214,283}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kim-Strength-D00092.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,283}</string>
                <key>spriteSourceSize</key>
                <string>{214,283}</string>
                <key>textureRect</key>
                <string>{{433,571},{214,283}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kim-Strength-D00093.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,283}</string>
                <key>spriteSourceSize</key>
                <string>{214,283}</string>
                <key>textureRect</key>
                <string>{{433,856},{214,283}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kim-Strength-D00094.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,283}</string>
                <key>spriteSourceSize</key>
                <string>{214,283}</string>
                <key>textureRect</key>
                <string>{{433,1141},{214,283}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kim-Strength-D00095.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,283}</string>
                <key>spriteSourceSize</key>
                <string>{214,283}</string>
                <key>textureRect</key>
                <string>{{433,1426},{214,283}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kim-Strength-D00096.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,283}</string>
                <key>spriteSourceSize</key>
                <string>{214,283}</string>
                <key>textureRect</key>
                <string>{{433,1711},{214,283}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kim-Strength-D00097.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,283}</string>
                <key>spriteSourceSize</key>
                <string>{214,283}</string>
                <key>textureRect</key>
                <string>{{649,571},{214,283}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kim-Strength-D00098.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,283}</string>
                <key>spriteSourceSize</key>
                <string>{214,283}</string>
                <key>textureRect</key>
                <string>{{649,856},{214,283}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kim-Strength-D00099.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,283}</string>
                <key>spriteSourceSize</key>
                <string>{214,283}</string>
                <key>textureRect</key>
                <string>{{649,1141},{214,283}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kim-Strength-D00100.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,283}</string>
                <key>spriteSourceSize</key>
                <string>{214,283}</string>
                <key>textureRect</key>
                <string>{{649,1426},{214,283}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kim-Strength-D00101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,283}</string>
                <key>spriteSourceSize</key>
                <string>{214,283}</string>
                <key>textureRect</key>
                <string>{{649,1711},{214,283}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kim-Strength-D00102.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,283}</string>
                <key>spriteSourceSize</key>
                <string>{214,283}</string>
                <key>textureRect</key>
                <string>{{865,571},{214,283}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kim-Strength-D00103.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,283}</string>
                <key>spriteSourceSize</key>
                <string>{214,283}</string>
                <key>textureRect</key>
                <string>{{1081,571},{214,283}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kim-Strength-D00104.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,283}</string>
                <key>spriteSourceSize</key>
                <string>{214,283}</string>
                <key>textureRect</key>
                <string>{{1297,571},{214,283}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kim-Strength-D00105.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,283}</string>
                <key>spriteSourceSize</key>
                <string>{214,283}</string>
                <key>textureRect</key>
                <string>{{1513,571},{214,283}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kim-Strength-D00106.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,283}</string>
                <key>spriteSourceSize</key>
                <string>{214,283}</string>
                <key>textureRect</key>
                <string>{{1729,571},{214,283}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kim-Strength-D00107.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,283}</string>
                <key>spriteSourceSize</key>
                <string>{214,283}</string>
                <key>textureRect</key>
                <string>{{865,856},{214,283}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kim-Strength-D00108.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,283}</string>
                <key>spriteSourceSize</key>
                <string>{214,283}</string>
                <key>textureRect</key>
                <string>{{865,1141},{214,283}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kim-Strength-D00109.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,283}</string>
                <key>spriteSourceSize</key>
                <string>{214,283}</string>
                <key>textureRect</key>
                <string>{{865,1426},{214,283}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kim-Strength-D00110.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,283}</string>
                <key>spriteSourceSize</key>
                <string>{214,283}</string>
                <key>textureRect</key>
                <string>{{865,1711},{214,283}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kim-Strength-D00111.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,283}</string>
                <key>spriteSourceSize</key>
                <string>{214,283}</string>
                <key>textureRect</key>
                <string>{{1081,856},{214,283}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kim-Strength-D00112.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,283}</string>
                <key>spriteSourceSize</key>
                <string>{214,283}</string>
                <key>textureRect</key>
                <string>{{1297,856},{214,283}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kim-Strength-D00113.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,283}</string>
                <key>spriteSourceSize</key>
                <string>{214,283}</string>
                <key>textureRect</key>
                <string>{{1513,856},{214,283}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kim-Strength-D00114.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,283}</string>
                <key>spriteSourceSize</key>
                <string>{214,283}</string>
                <key>textureRect</key>
                <string>{{1729,856},{214,283}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kim-Strength-D00115.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,283}</string>
                <key>spriteSourceSize</key>
                <string>{214,283}</string>
                <key>textureRect</key>
                <string>{{1081,1141},{214,283}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kim-Strength-D00116.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,283}</string>
                <key>spriteSourceSize</key>
                <string>{214,283}</string>
                <key>textureRect</key>
                <string>{{1081,1426},{214,283}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kim-Strength-D00117.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,283}</string>
                <key>spriteSourceSize</key>
                <string>{214,283}</string>
                <key>textureRect</key>
                <string>{{1081,1711},{214,283}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kim-Strength-D00118.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,283}</string>
                <key>spriteSourceSize</key>
                <string>{214,283}</string>
                <key>textureRect</key>
                <string>{{1297,1141},{214,283}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kim-Strength-D00119.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,283}</string>
                <key>spriteSourceSize</key>
                <string>{214,283}</string>
                <key>textureRect</key>
                <string>{{1513,1141},{214,283}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kim-Strength-D00120.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,283}</string>
                <key>spriteSourceSize</key>
                <string>{214,283}</string>
                <key>textureRect</key>
                <string>{{1729,1141},{214,283}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kim-Strength-D00121.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,283}</string>
                <key>spriteSourceSize</key>
                <string>{214,283}</string>
                <key>textureRect</key>
                <string>{{1297,1426},{214,283}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kim-Strength-D00122.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,283}</string>
                <key>spriteSourceSize</key>
                <string>{214,283}</string>
                <key>textureRect</key>
                <string>{{1297,1711},{214,283}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kim-Strength-D00123.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,283}</string>
                <key>spriteSourceSize</key>
                <string>{214,283}</string>
                <key>textureRect</key>
                <string>{{1513,1426},{214,283}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kim-Strength-D00124.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,283}</string>
                <key>spriteSourceSize</key>
                <string>{214,283}</string>
                <key>textureRect</key>
                <string>{{1513,1711},{214,283}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kim-Strength-D00125.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,283}</string>
                <key>spriteSourceSize</key>
                <string>{214,283}</string>
                <key>textureRect</key>
                <string>{{1729,1426},{214,283}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kim-Strength-D00126.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,283}</string>
                <key>spriteSourceSize</key>
                <string>{214,283}</string>
                <key>textureRect</key>
                <string>{{1729,1711},{214,283}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Kim-1.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fd318afa163dd15d6af99aa58e44d5d2:5cecc07dbab005c8358c682871096b5b:9f2db6cf207359d2c4d3a1e1f20e4ff8$</string>
            <key>textureFileName</key>
            <string>Kim-1.png</string>
        </dict>
    </dict>
</plist>
